.image-heading{
    width: 50px;
    height: 50px;
    position: relative;
    top: -5px;
    left: -5px;
    background-color: #f2f4f8;
    border-color: #dfe4ed;
    display: inline-block;
    overflow: hidden;
    border-radius: 500px;
}

.textarea{
    overflow-x: hidden;
    word-wrap: break-word;
    resize: none;
    overflow-y: visible;
}

.notification{
    color: #b31a27;
}

.bold{
    font-weight:bold;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.custom-height{
    height: 350px;
    overflow: auto;
}

.trueque-item{
    margin: 5px;
}

.link-add{
    cursor: pointer;
    color: #0f9a5e;
}

.link-remove{
    cursor: pointer;
    color: #fb434a;
}

/*Loader*/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}