.item-height{
    width: auto;
    height: auto;
    max-height: 580px;
}

.item{
    position: relative;
    margin-left: 50%;
    margin-top: 40%;
    -webkit-transform: translateY(-50%) translateX(-50%);
}
