@media only screen and (max-width: 768px) {

    .panel-heading > h3 {
        font-size: 1.2rem !important;
        font-weight: 500 !important;
    }

    .btn-oktrueque{
        font-size: 0.8rem !important;
        padding: 1px 1px !important;
        margin: 0px 1px 5px 0px !important;
    }

    .cui-ecommerce--catalog--item{
        height: 75px !important;
    }

    .cui-ecommerce-catalog--item--infobox{
        margin-top: 60px !important;
    }

    .cui-ecommerce--catalog--item--title > p{
        font-size: 8px !important;
    }

    .cui-ecommerce--catalog--item--title{
        padding-top: 3px !important;
    }

    .hidden{
        visibility: visible !important;
    }

}