#btn-iniciar-sesion-custom-oktrueque{
    width: 100%;
    margin-bottom: 20px
}

@media only screen and (max-width: 768px){
    .separador-line-top{
        text-align: center;
        padding-top: 5px !important;
        padding-bottom: 10px !important;
    }

    .separador-line-top > div{
        padding-bottom: 10px !important;
    }

    .btn-cellphone-fullwidth{
        display: block;
        width: 100%;
    }

}

