<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="navbar">
    <nav class="top-menu">
        <div class="menu-icon-container hidden-md-up">
            <div class="animate-menu-button left-menu-toggle">
                <div><!-- --></div>
            </div>
        </div>
        <div class="menu">
            <div class="menu-user-block">
                <div class="dropdown dropdown-avatar">
                    <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="avatar" href="javascript:void(0);">
                        <img src="../../static/common/img/temp/avatars/1.jpg" th:src="@{/common/img/temp/avatars/1.jpg}"
                             alt="Alternative text to the image"/>
                    </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-user"></i>
                            Profile</a>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-header">Home</div>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i>
                            System Dashboard</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i>
                            User Boards</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i>
                            Issue Navigator (35 New)</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout"><i class="dropdown-icon icmn-exit"></i>
                            Logout</a>
                    </ul>
                </div>
            </div>
            <div class="menu-info-block">
                <div class="right hidden-md-down margin-left-20">
                    <div class="search-block">
                        <div class="form-input-icon form-input-icon-right">
                            <i class="icmn-search"></i>
                            <input type="text" class="form-control form-control-sm form-control-rounded"
                                   placeholder="Search..."/>
                            <button type="submit" class="search-block-submit"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</th:block>