<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">
    <nav class="left-menu" left-menu="true">
        <div class="logo-container">
            <a href="/" class="logo">
                <img class="logo-inverse" src="../../static/common/img/logo-v2.png" th:src="@{/common/img/logo-v2.png}"
                     alt="OkTrueque"/>
            </a>
        </div>
        <div class="left-menu-inner scroll-pane">
            <ul class="left-menu-list left-menu-list-root list-unstyled">
                <li>
                    <a class="left-menu-link" href="javascript: void(0);">
                        <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                        <span class="menu-top-hidden">Principal</span>
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="javascript: void(0);">
                        <i class="left-menu-link-icon icmn-user"><!-- --></i>
                        <span class="menu-top-hidden">Mi Perfil</span>
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="javascript: void(0);">
                        <i class="left-menu-link-icon icmn-bubbles10"><!-- --></i>
                        <span class="menu-top-hidden">Mensajes</span>
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="javascript: void(0);">
                        <i class="left-menu-link-icon icmn-magic-wand"><!-- --></i>
                        <span class="menu-top-hidden">Mis Trueques</span>
                    </a>
                </li>
                <li class="left-menu-list-submenu">
                    <a class="left-menu-link" href="javascript: void(0);">
                        <i class="left-menu-link-icon icmn-list2"><!-- --></i>
                        <span class="menu-top-hidden">Categorias</span>
                    </a>
                    <ul class="left-menu-list list-unstyled">
                        <li>
                            <a class="left-menu-link" href="javascript:void(0)">
                                Categoria 1
                            </a>
                        </li>
                        <li>
                            <a class="left-menu-link" href="javascript:void(0)">
                                Categoria 2
                            </a>
                        </li>
                        <li>
                            <a class="left-menu-link" href="javascript:void(0)">
                                Categoria 3
                            </a>
                        </li>
                        <li>
                            <a class="left-menu-link" href="javascript:void(0)">
                                Categoria N
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</th:block>