<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="left-menu" left-menu="true">
        <div class="logo-container">
            <a href="/" class="logo">
                <img class="logo-inverse" src="../../static/common/img/LogoSinSlogan.png" th:src="@{/common/img/LogoSinSlogan.png}"
                     alt="OkTrueque"/>
            </a>
        </div>
        <div class="left-menu-inner scroll-pane">
            <ul class="left-menu-list left-menu-list-root list-unstyled">
                <li>
                    <a class="left-menu-link row" href="/items">
                        <span class="menu-top-hidden vertical-align-middle col-lg-8">Principal</span>
                        <i class="darked left-menu-link-icon fa fa-home vertical-align-middle col-lg-4"><!-- --></i>
                    </a>
                </li>
                <div sec:authorize="isAuthenticated()">
                <li>
                    <a class="left-menu-link row" href="/profile">
                        <span class="menu-top-hidden vertical-align-middle col-lg-8">Mi Perfil</span>
                        <i class="darked left-menu-link-icon fa fa-user vertical-align-middle col-lg-4"><!-- --></i>
                    </a>
                </li>
                <li>
                    <a class="left-menu-link row" href="/profile/messages">
                        <span class="menu-top-hidden vertical-align-middle col-lg-8">Mensajes</span>
                        <i class="darked left-menu-link-icon fa fa-envelope-o vertical-align-middle col-lg-4"><!-- --></i>
                    </a>
                </li>
                <li>
                    <a class="left-menu-link row" href="/profile/trueques">
                        <span class="menu-top-hidden vertical-align-middle col-lg-8">Mis Trueques</span>
                        <i class="darked left-menu-link-icon fa fa-magic vertical-align-middle col-lg-4"><!-- --></i>
                    </a>
                </li>
                </div>
                <li class="left-menu-list-submenu">
                    <a class="left-menu-link row" href="javascript: void(0);">
                        <span class="menu-top-hidden vertical-align-middle col-lg-8">Categorias</span>
                        <i class="darked left-menu-link-icon fa fa-bars vertical-align-middle col-lg-4"><!-- --></i>
                    </a>
                    <ul id="sidebar-categories" class="left-menu-list list-unstyled">
                        <li><a class="left-menu-link"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</th:block>