<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="left-menu" left-menu="true">
        <div class="logo-container">
            <a href="/" class="logo">
                <img class="logo-inverse" src="../../static/common/img/LogoSinSlogan.png" th:src="@{/common/img/LogoSinSlogan.png}"
                     alt="OkTrueque"/>
            </a>
        </div>
        <div class="left-menu-inner scroll-pane">
            <ul class="left-menu-list left-menu-list-root list-unstyled">
                <li>
                    <a class="left-menu-link" href="/items">
                        <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                        <span class="menu-top-hidden">Principal</span>
                    </a>
                </li>
                <div sec:authorize="isAuthenticated()">
                <li>
                    <a class="left-menu-link" href="/profile">
                        <i class="blacky left-menu-link-icon icmn-user"><!-- --></i>
                        <span class="menu-top-hidden">Mi Perfil</span>
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="/profile/messages">
                        <i class="left-menu-link-icon icmn-bubbles10"><!-- --></i>
                        <span class="menu-top-hidden">Mensajes</span>
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="/profile/trueques">
                        <i class="left-menu-link-icon icmn-magic-wand"><!-- --></i>
                        <span class="menu-top-hidden">Mis Trueques</span>
                    </a>
                </li>
                </div>
                <li class="left-menu-list-submenu">
                    <a class="left-menu-link" href="javascript: void(0);">
                        <i class="left-menu-link-icon icmn-list2"><!-- --></i>
                        <span class="menu-top-hidden">Categorias</span>
                    </a>
                    <ul id="sidebar-categories" class="left-menu-list list-unstyled">
                        <li><a class="left-menu-link"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</th:block>