<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>
    <link rel="stylesheet" type="text/css" href="../static/common/css/source/custom/item.css" th:href="@{/common/css/source/custom/item.css}"/>
</head>
<th:block layout:fragment="content">
    <section class="page-content">
        <div class="page-content-inner">

            <section class="panel panel-with-borders" th:each="user : ${users}">

                <div class="panel-heading">
                    <h1> Has cancelado el trueque que llevabas a cabo con </h1>
                    <h2 th:text="${user.name + ' ' + user.last_name}"></h2>
                    <h3>Si lo deseas, puede dejar un comentario</h3>
                </div>

                <div class="panel-body panel-profile">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 margin-left-20">
                            <form  th:action="@{'/profile/comment'}" th:object="${comment}" th:method="POST">
                                <input type="hidden" th:field="*{user_target}" th:value="${user}"/>
                                <div class="form-group">
                                    <div class="col-lg">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label class="control-label">Descripcion</label>
                                                <textarea class="form-control" placeholder="Deje su comentario" th:field="*{description}"/>
                                            </div>
                                        </div>

                                    </div>

                                    <button type="submit" class="btn btn-primary width-150">
                                        Comentar!
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br/>

                </div>
            </section>


        </div>


        <!-- Page Scripts -->
        <script src="../static/vendors/datatables-responsive/js/dataTables.responsive.js"
                th:src="@{/vendors/owl.carousel/dist/owl.carousel.js}"></script>
        <script>
            $('.owl-carousel').owlCarousel({
                loop:true,
                margin:10,
                nav:true,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:3
                    },
                    1000:{
                        items:5
                    }
                }
            })
        </script>

        <!-- End Page Scripts -->
    </section>

</th:block>
</html>