<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <script src="../../static/vendors/sockjs/sockjs.min.js" th:src="@{/vendors/sockjs/sockjs.min.js}"></script>
    <script src="../../static/vendors/sockjs/stomp.min.js" th:src="@{/vendors/sockjs/stomp.min.js}"></script>
    <script th:src="@{/common/js/custom/chat.js}"></script>
</head>
<th:block layout:fragment="content">
    <section class="page-content">
        <div class="page-content-inner">
            <!-- Messaging -->
            <section class="panel panel-with-sidebar sidebar-large panel-with-borders messaging">
                <div class="panel-sidebar">
                    <div class="messaging-search">
                        <div class="search-block">
                            <div class="form-input-icon form-input-icon-right">
                                <i class="icmn-search"></i>
                                <input type="text" class="form-control form-control-sm" placeholder="Search..."></input>
                                <button type="submit" class="search-block-submit "></button>
                            </div>
                        </div>
                    </div>
                    <!--Aca buscar los rost-->
                    <div class="messaging-list">
                        <th:block th:each="conversation : ${conversations}" >
                            <div class="messaging-list-item conversation" th:attr="data-id=${conversation.id}" >
                                <div class="s1">
                                    <a class="avatar" href="javascript:void(0);">
                                        <img src="https://oktrueque.s3-sa-east-1.amazonaws.com/default/U-8" />
                                    </a>
                                </div>
                                <div class="s2">
                                    <!--<small class="messaging-time">8:34PM</small>-->
                                    <div class="messaging-list-title-name" th:text="${conversation.date} "></div>
                                    <!--<div class="messaging-list-title-last color-default">Hello! Where you are now? I want to-->
                                    <!--talk. Hello! Where you are now? I want to talk-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="panel-heading">
                    <div class="pull-right">
                        <div class="dropdown">
                            <a href="javascript: void(0);" class="dropdown-toggle dropdown-inline-button"
                               data-toggle="dropdown" aria-expanded="false">
                                <i class="dropdown-inline-button-icon icmn-database"></i>
                                <span class="hidden-lg-down">Actions</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                                <a class="dropdown-item" href="javascript:void(0)"><i
                                        class="dropdown-icon icmn-pencil7"></i> Edit Conversation</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i
                                        class="dropdown-icon icmn-bin3"></i> Delete Conversation</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i
                                        class="dropdown-icon fa fa-recycle"></i> Mark as Spam</a>
                            </ul>
                        </div>
                    </div>
                    <h6 class="messaging-title">Software Developing</h6>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="conversation" class="conversation-block height-700 custom-scroll">

                                </div>
                                <div class="form-group padding-top-20 margin-bottom-0">
                                <textarea class="form-control adjustable-textarea" placeholder="Type and press enter"
                                          style="overflow-x: hidden; word-wrap: break-word; resize: none; overflow-y: visible;"></textarea>
                                    <button class="btn btn-primary width-200 margin-top-10">
                                        <i class="fa fa-send margin-right-5"></i>
                                        Send
                                    </button>
                                    <button class="btn btn-link margin-top-10">
                                        Attach File
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Messaging -->

        </div>

        <!-- Page Scripts -->
        <script th:inline="javascript">
            /*<![CDATA[*/
            var userId =  /*[[${#authentication.principal.id}]]*/ "";
            initialize(userId);
            /*]]>*/
        </script>
        <!-- End Page Scripts -->
    </section>
</th:block>
</html>