<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <script src="../../static/vendors/sockjs/sockjs.min.js" th:src="@{/vendors/sockjs/sockjs.min.js}"></script>
    <script src="../../static/vendors/sockjs/stomp.min.js" th:src="@{/vendors/sockjs/stomp.min.js}"></script>
    <script th:src="@{/common/js/custom/chat.js}"></script>
</head>
<th:block layout:fragment="content">
    <section class="page-content">
        <div class="page-content-inner">
            <!-- Messaging -->
            <section class="panel panel-with-sidebar sidebar-large panel-with-borders messaging">
                <div class="panel-sidebar">
                    <div class="messaging-search">
                        <div class="search-block">
                            <div class="form-input-icon form-input-icon-right">
                                <i class="icmn-search"></i>
                                <input type="text" class="form-control form-control-sm" placeholder="Search..."></input>
                                <button type="submit" class="search-block-submit "></button>
                            </div>
                        </div>
                    </div>
                    <!--Aca buscar los rost-->
                    <div class="messaging-list">
                        <th:block th:each="uc : ${conversations}" >
                            <div th:if="${!uc.group}">
                                <div th:id="${'conversation-'+uc.id.conversation.id}" class="messaging-list-item conversation" th:attr="data-id=${uc.id.conversation.id}, data-group=${uc.group}"  >
                                    <div class="s1">
                                        <a class="avatar" href="javascript:void(0);">
                                            <img th:src="${uc.sendTo.photo1}" />
                                        </a>
                                    </div>
                                    <div class="s2">
                                        <small class="messaging-time" th:text="${#dates.format(uc.id.conversation.lastMessageDate, 'HH:mm')}">8:34PM</small>
                                        <div th:id="${'user-'+uc.id.conversation.id}" class="messaging-list-title-name" th:text="${uc.sendTo.name}"></div>
                                        <span th:id="${'send-to-'+ uc.id.conversation.id}" th:text="${uc.sendTo.username}" style="display: none;"></span>
                                        <div class="messaging-list-title-last color-default" th:text="${uc.id.conversation.lastMessage}">Hello! Where you are now? I want to
                                            talk. Hello! Where you are now? I want to talk
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${uc.group}">
                                <div th:id="${'conversation-'+uc.id.conversation.id}" class="messaging-list-item conversation" th:attr="data-id=${uc.id.conversation.id}, data-group=${uc.group}" >
                                    <div class="s1">
                                        <a class="avatar" href="javascript:void(0);">
                                            <img src="https://oktrueque.s3-sa-east-1.amazonaws.com/default/U-2" />
                                        </a>
                                    </div>
                                    <div class="s2">
                                        <small class="messaging-time" th:text="${#dates.format(uc.id.conversation.lastMessageDate, 'HH:mm')}">8:34PM</small>
                                        <div th:id="${'user-'+uc.id.conversation.id}" class="messaging-list-title-name">Red de Trueques</div>
                                        <!--<span th:id="${'send-to-'+ uc.id.conversation.id}" th:text="${uc.sendTo.username}" style="display: none;"></span>-->
                                        <div class="messaging-list-title-last color-default" th:text="${uc.id.conversation.lastMessage}">Hello! Where you are now? I want to
                                            talk. Hello! Where you are now? I want to talk
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="panel-heading">
                    <div class="pull-right">
                        <div class="dropdown">
                            <a href="javascript: void(0);"
                               data-toggle="dropdown" aria-expanded="false">
                                <i class="icmn-more2"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                                <a class="dropdown-item" href="javascript:void(0)">Perfil del Usuario</a>
                                <a class="dropdown-item" href="javascript:void(0)">Confirmar Trueque</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)">Cancelar Trueque</a>
                            </ul>
                        </div>
                    </div>

                    <h6 id="conversation-title" class="messaging-title">Chats</h6>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="col-lg-12">
                            <div id="conversation" class="conversation-block height-700 custom-scroll">

                            </div>
                            <div id="chat-actions" class="form-group padding-top-20 margin-bottom-0">
                                <input type="hidden" id="idConversation"/>
                                <div class="row">
                                    <div class="col-sm-11">
                                        <textarea id="text" class="form-control adjustable-textarea textarea" disabled="disabled" placeholder="Escribe un mensaje aquí"></textarea>
                                    </div>
                                    <div class="col-sm-1">
                                        <button id="send" class="btn btn-primary width-100 margin-top-10" disabled="disabled" onclick="sendMessage();">
                                            <i class="fa fa-send margin-right-5"></i>
                                            Enviar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Messaging -->

        </div>

        <!-- Page Scripts -->
        <script th:inline="javascript">
            /*<![CDATA[*/
            var userId =  /*[[${#authentication.principal.id}]]*/ "";
            var user_photo =  /*[[${#authentication.principal.photo1}]]*/ "";
            var groups = [[${groups}]];
            initialize(userId, user_photo, groups);
            /*]]>*/
        </script>
        <!-- End Page Scripts -->
    </section>
</th:block>
</html>