<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <link rel="stylesheet" type="text/css" href="../static/common/css/source/custom/chat.css" th:href="@{/common/css/source/custom/chat.css}"/>
    <script th:src="@{/common/js/custom/chat.js}"></script>
</head>
<th:block layout:fragment="content">
    <section class="page-content">
        <div class="page-content-inner">
            <!-- Messaging -->
            <section class="panel panel-with-sidebar sidebar-large panel-with-borders messaging">
                <div class="panel-sidebar">
                    <div class="messaging-search">
                        <div class="search-block">
                            <h6>Trueques Activos</h6>
                        </div>
                    </div>
                    <!--Aca buscar los rost-->
                    <div class="messaging-list custom-height">
                        <th:block th:each="uc : ${conversations}" >
                            <div th:if="${!uc.group}">
                                <div th:id="${'conversation-'+uc.id.conversation.id}" class="messaging-list-item conversation" th:attr="data-id=${uc.id.conversation.id}, data-group=${uc.group}, data-trueque=${uc.id.conversation.idTrueque}"  >
                                    <div class="s1">
                                        <a class="avatar" href="javascript:void(0);">
                                            <img th:src="${uc.sendTo.photo1}" />
                                        </a>
                                    </div>
                                    <div class="s2">
                                        <small class="messaging-time" th:text="${uc.id.conversation.lastMessageDate}? ${#dates.format(uc.id.conversation.lastMessageDate, 'HH:mm')}">8:34PM</small>
                                        <div th:id="${'user-'+uc.id.conversation.id}" class="messaging-list-title-name"
                                             th:classappend="${uc.unread > 0} ? 'bold' : ''" th:text="${uc.sendTo.name}"></div>
                                        <span th:id="${'send-to-'+ uc.id.conversation.id}" th:text="${uc.sendTo.username}" style="display: none;"></span>
                                        <span th:id="${'span-'+uc.id.conversation.id}"  class="label label-warning pull-right" th:text="${uc.unread}"
                                              th:attr="data-unread=${uc.unread}" th:classappend="${uc.unread &gt; 0} ? 'show' : 'hide'"></span>
                                        <div th:id="${'message-'+uc.id.conversation.id}" class="messaging-list-title-last color-default"
                                             th:classappend="${uc.unread > 0} ? 'bold' : ''"
                                             th:text="${uc.id.conversation.lastMessage}">Hello! Where you are now? I want to
                                            talk. Hello! Where you are now? I want to talk
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${uc.group}">
                                <div th:id="${'conversation-'+uc.id.conversation.id}" class="messaging-list-item conversation" th:attr="data-id=${uc.id.conversation.id}, data-group=${uc.group}, data-trueque=${uc.id.conversation.idTrueque}" >
                                    <div class="s1">
                                        <a class="avatar" href="javascript:void(0);">
                                            <img src="https://s3-sa-east-1.amazonaws.com/oktrueque/utils/simbolo.png" />
                                        </a>
                                    </div>
                                    <div class="s2">
                                        <small class="messaging-time" th:text="${uc.id.conversation.lastMessageDate}? ${#dates.format(uc.id.conversation.lastMessageDate, 'HH:mm')}">8:34PM</small>
                                        <div th:id="${'user-'+uc.id.conversation.id}" class="messaging-list-title-name">Red de Trueques</div>
                                        <span th:id="${'span-'+uc.id.conversation.id}"  class="label label-warning pull-right" th:text="${uc.unread}"
                                              th:attr="data-unread=${uc.unread}" th:classappend="${uc.unread &gt; 0} ? 'show' : 'hide'"></span>
                                        <div th:id="${'message-'+uc.id.conversation.id}" class="messaging-list-title-last color-default" th:text="${uc.id.conversation.lastMessage}">Hello! Where you are now? I want to
                                            talk. Hello! Where you are now? I want to talk
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div class="margin-bottom-50">
                        <div class="messaging-search" style="margin-top: 10px;">
                            <h6>Detalle del Trueque</h6>
                        </div>
                        <br/>
                        <ul id="trueque-detail">

                        </ul>
                        <a id="get-items" href="javascript: void(0);" class="btn btn-link margin-inline pull-right display-none">Editar</a>
                    </div>
                </div>
                <div class="panel-heading">
                    <h6 id="conversation-title" class="messaging-title">Chats</h6>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="col-lg-12">
                            <div id="conversation" class="conversation-block custom-scroll" style="height: 650px;">

                            </div>
                            <div id="chat-actions" class="form-group padding-top-20 margin-bottom-0">
                                <input type="hidden" id="idConversation"/>
                                <div class="row">
                                    <div class="col-sm-11">
                                        <textarea id="text" class="form-control adjustable-textarea textarea" disabled="disabled" placeholder="Escribe un mensaje aquí" maxlength="250"></textarea>
                                    </div>
                                    <div class="col-sm-1">
                                        <button id="send" class="btn btn-primary width-100 margin-top-10" disabled="disabled" onclick="sendMessage();">
                                            <i class="fa fa-send margin-right-5"></i>
                                            Enviar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Messaging -->

        </div>

        <!--Modal Trueque Detail-->
        <div class="modal fade"  id="modalTruequeDetail" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="modal-name" class="modal-title">Editar items del Trueque</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <h6>Ofrecidos</h6>
                            <ul id="items-offered">

                            </ul>
                            <hr/>
                            <h6>Restantes</h6>
                            <ul id="items-left">

                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="edit-trueque" type="button"  class="btn btn-primary">Aceptar</button>
                        <button  type="button" class="btn" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page Scripts -->
        <script th:inline="javascript">
            /*<![CDATA[*/
            var userId =  /*[[${#authentication.principal.id}]]*/ "";
            var user_photo =  /*[[${#authentication.principal.photo1}]]*/ "";
            var name =  /*[[${#authentication.principal.name}]]*/ "";
            var groups = [[${groups}]];
            initialize(userId, user_photo, name, groups);
            /*]]>*/
        </script>
        <!-- End Page Scripts -->
    </section>
</th:block>
</html>