<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>

</head>
<th:block layout:fragment="content">
<section class="page-content">
    <!-- Ecommerce Product Edit -->
    <section class="panel panel-with-borders page-content-inner">
        <div class="panel-heading">

            <h2>
                Nuevo ítem
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">

                <form id="nuevoItemForm" onsubmit="return validations()"
                      th:action="@{'/users/' + ${user.username} + '/item'}" th:object="${item}" th:method="POST">
                    <div class="col-lg">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <!--NOMBRE DEL ITEM-->
                                    <label class="control-label">Nombre</label>
                                    <input required="true" th:field="*{name}" type="text" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <!--DROP DOWN LIST DE CATEGORIA-->
                                <label for="selectCat" class="form-control-label">Categoría</label>
                                <select required="true" id="selectCat" th:field="*{category}" class="form-control">
                                    <option value="-1"> Seleccione categoría</option>
                                    <option th:each="cat : ${categories}" th:value="${cat.id}"
                                            th:text="${cat.name}" th:field="*{category}"></option>
                                </select>
                            </div>
                            <div class="form-group col-lg-8">
                                <i id="noCatIcon" hidden="false" style="color:red"
                                   class="glyphicon glyphicon-arrow-left "></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="descTextArea" class="form-control-label">Descripción</label>
                            <textarea required="true" id="descTextArea" th:field="*{description}" class="form-control" rows="7"></textarea>

                        </div>
                    </div>
                    <!--FOTOS-->
                    <div class="col-lg">
                        <div class="row">
                            <h4>Fotos del Item</h4>
                            <div class="cui-ecommerce--catalog--item col-lg-4">
                                <div class="cui-ecommerce--catalog--item--img">
                                    <a>
                                        <img th:src="@{/common/img/temp/ecommerce/ecommerce-empty.jpg}"
                                             src="../assets/common/img/temp/ecommerce/ecommerce-empty.jpg"/>
                                    </a>
                                    <a class="link-underlined cui-ecommerce--catalog--item--img-remove">
                                        <i class="icmn-cross2"><!-- --></i> Remove
                                    </a>
                                </div>
                                <div class="form-group">
                                    <input type="file"/>
                                </div>
                            </div>

                            <div class="cui-ecommerce--catalog--item col-lg-4">
                                <div class="cui-ecommerce--catalog--item--img">
                                    <a>
                                        <img th:src="@{/common/img/temp/ecommerce/ecommerce-empty.jpg}"
                                             src="../assets/common/img/temp/ecommerce/ecommerce-empty.jpg"/>
                                    </a>
                                    <a class="link-underlined cui-ecommerce--catalog--item--img-remove">
                                        <i class="icmn-cross2"><!-- --></i> Remove
                                    </a>
                                </div>
                                <div class="form-group">
                                    <input type="file"/>
                                </div>
                            </div>

                            <div class="cui-ecommerce--catalog--item col-lg-4">
                                <div class="cui-ecommerce--catalog--item--img">
                                    <a>
                                        <img th:src="@{/common/img/temp/ecommerce/ecommerce-empty.jpg}"
                                             src="../assets/common/img/temp/ecommerce/ecommerce-empty.jpg"/>
                                    </a>
                                    <a class="link-underlined cui-ecommerce--catalog--item--img-remove">
                                        <i class="icmn-cross2"><!-- --></i> Remove
                                    </a>
                                </div>
                                <div class="form-group">
                                    <input type="file"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary width-150">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- End Ecommerce Product Edit -->
</section>

<script>

    function validations() {

        var selectValue = document.getElementById('selectCat').value;
//        var description = document.getElementById('descTextArea').value;


        if (selectValue === '-1') {
            alert('Debe seleccionar una categoría para crear el item!');
            document.getElementById('noCatIcon').hidden('false');
//            document.getElementById('nuevoItemForm').
            return false;
//        } else if (description === '') {
//            alert('Debe describir el ítem para crearlo!');
//            return false;
        } else {
            return true;
        }

    }


</script>

</th:block>


</html>