<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Clean UI Admin Template</title>

    <link href="../static/assets/common/img/favicon.144x144.png" rel="apple-touch-icon" type="image/png" sizes="144x144">
    <link href="../static/assets/common/img/favicon.114x114.png" rel="apple-touch-icon" type="image/png" sizes="114x114">
    <link href="../static/assets/common/img/favicon.72x72.png" rel="apple-touch-icon" type="image/png" sizes="72x72">
    <link href="../static/assets/common/img/favicon.57x57.png" rel="apple-touch-icon" type="image/png">
    <link href="../static/assets/common/img/favicon.png" rel="icon" type="image/png">
    <link href="favicon.ico" rel="shortcut icon">

    <!-- HTML5 shim and Respond.js for < IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Vendors Styles -->
    <!-- v1.0.0 -->
    
    <link rel="stylesheet" type="text/css" href="../static/assets/vendors/datatables/media/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/vendors/c3/c3.min.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/vendors/chartist/dist/chartist.min.css">
    <!-- v1.4.0 -->
    <link rel="stylesheet" type="text/css" href="../static/assets/vendors/nprogress/nprogress.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/vendors/jquery-steps/demo/css/jquery.steps.css">
    <!-- v1.4.2 -->
    <link rel="stylesheet" type="text/css" href="../static/assets/vendors/bootstrap-select/dist/css/bootstrap-select.min.css">
    <!-- v1.7.0 -->
    <link rel="stylesheet" type="text/css" href="../static/assets/vendors/dropify/dist/css/dropify.min.css">

    <!-- Clean UI Styles -->
    <link rel="stylesheet" type="text/css" href="../static/assets/common/css/source/main.css">

    <!-- Vendors Scripts -->
    <!-- v1.0.0 -->
    <script src="../static/assets/vendors/jquery/jquery.min.js"></script>
    <script src="../static/assets/vendors/tether/dist/js/tether.min.js"></script>
    <script src="../static/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/assets/vendors/jquery-mousewheel/jquery.mousewheel.min.js"></script>
    <script src="../static/assets/vendors/jscrollpane/script/jquery.jscrollpane.min.js"></script>
    <script src="../static/assets/vendors/spin.js/spin.js"></script>
    <script src="../static/assets/vendors/ladda/dist/ladda.min.js"></script>
    <script src="../static/assets/vendors/select2/dist/js/select2.full.min.js"></script>
    <script src="../static/assets/vendors/html5-form-validation/dist/jquery.validation.min.js"></script>
    <script src="../static/assets/vendors/jquery-typeahead/dist/jquery.typeahead.min.js"></script>
    <script src="../static/assets/vendors/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="../static/assets/vendors/autosize/dist/autosize.min.js"></script>
    <script src="../static/assets/vendors/bootstrap-show-password/bootstrap-show-password.min.js"></script>
    <script src="../static/assets/vendors/moment/min/moment.min.js"></script>
    <script src="../static/assets/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/assets/vendors/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="../static/assets/vendors/cleanhtmlaudioplayer/src/jquery.cleanaudioplayer.js"></script>
    <script src="../static/assets/vendors/cleanhtmlvideoplayer/src/jquery.cleanvideoplayer.js"></script>
    <script src="../static/assets/vendors/bootstrap-sweetalert/dist/sweetalert.min.js"></script>
    <script src="../static/assets/vendors/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
    <script src="../static/assets/vendors/summernote/dist/summernote.min.js"></script>
    <script src="../static/assets/vendors/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="../static/assets/vendors/ionrangeslider/js/ion.rangeSlider.min.js"></script>
    <script src="../static/assets/vendors/nestable/jquery.nestable.js"></script>
    <script src="../static/assets/vendors/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="../static/assets/vendors/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="../static/assets/vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js"></script>
    <script src="../static/assets/vendors/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="../static/assets/vendors/editable-table/mindmup-editabletable.js"></script>
    <script src="../static/assets/vendors/d3/d3.min.js"></script>
    <script src="../static/assets/vendors/c3/c3.min.js"></script>
    <script src="../static/assets/vendors/chartist/dist/chartist.min.js"></script>
    <script src="../static/assets/vendors/peity/jquery.peity.min.js"></script>
    <!-- v1.0.1 -->
    <script src="../static/assets/vendors/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- v1.1.1 -->
    <script src="../static/assets/vendors/gsap/src/minified/TweenMax.min.js"></script>
    <script src="../static/assets/vendors/hackertyper/hackertyper.js"></script>
    <script src="../static/assets/vendors/jquery-countTo/jquery.countTo.js"></script>
    <!-- v1.4.0 -->
    <script src="../static/assets/vendors/nprogress/nprogress.js"></script>
    <script src="../static/assets/vendors/jquery-steps/build/jquery.steps.min.js"></script>
    <!-- v1.4.2 -->
    <script src="../static/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="../static/assets/vendors/chart.js/src/Chart.bundle.min.js"></script>
    <!-- v1.7.0 -->
    <script src="../static/assets/vendors/dropify/dist/js/dropify.min.js"></script>

    <!-- Clean UI Scripts -->
    <script src="../static/assets/common/js/common.js"></script>
    <script src="../static/assets/common/js/demo.temp.js"></script>
</head>
<body class="theme-default">
<nav class="left-menu" left-menu>
    <div class="logo-container">
        <a href="index.html" class="logo">
            <img src="../static/assets/common/img/logo-v2.png" alt="Clean UI Admin Template" />
            <img class="logo-inverse" src="../static/assets/common/img/logo-inverse.png" alt="Clean UI Admin Template" />
        </a>
    </div>
    <div class="left-menu-inner scroll-pane">
        <ul class="left-menu-list left-menu-list-root list-unstyled">
            <li>
                <a class="left-menu-link" href="#">
                    <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                    <span class="menu-top-hidden">Usuarios</span>
                </a>
            </li>
            <li>
                <a class="left-menu-link" href="#">
                    <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                    <span class="menu-top-hidden">Categorias</span>
                </a>
            </li>
            <li>
                <a class="left-menu-link" href="#">
                    <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                    <span class="menu-top-hidden">Items</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<nav class="top-menu">
    <div class="menu">
        <div class="menu-user-block">
            <div class="dropdown dropdown-avatar">
                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="avatar" href="javascript:void(0);">
                        <img src="../static/assets/common/img/temp/avatars/1.jpg" alt="Alternative text to the image">
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-user"></i> Profile</a>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-header">Home</div>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> System Dashboard</a>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> User Boards</a>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> Issue Navigator (35 New)</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-exit"></i> Logout</a>
                </ul>
            </div>
        </div>
        <div class="menu-info-block">
            <div class="right hidden-md-down margin-left-20">
                <div class="search-block">
                    <div class="form-input-icon form-input-icon-right">
                        <i class="icmn-search"></i>
                        <input type="text" class="form-control form-control-sm form-control-rounded" placeholder="Search...">
                        <button type="submit" class="search-block-submit "></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="page-content">
<div class="page-content-inner">

    <!--Aca va el contenido!-->

</div>
</section>
</div>

</body>
</html>