<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>
    <div sec:authorize="isAuthenticated()">
        <script src="../assets/common/js/custom/socket.js" th:src="@{/common/js/custom/socket.js}"></script>
    </div>
</head>
<th:block layout:fragment="content">
    <section class="page-content">
        <div class="page-content-inner">
            <form  th:action="@{/user/delete}" th:object="${user}" th:method="PUT">
                <section class="panel panel-profile panel-with-borders">
                    <div class="single-page-block">
                        <div class="margin-auto text-center max-width-500">
                            <h1>Eliminar Cuenta</h1>
                            <hr/>
                            <p>Si crees que no utilizarás más Oktrueque y te gustaría eliminar tu cuenta, nosotros lo hacemos por tí.
                                Ten en cuenta que no podrás volver a activarla una vez eliminada. Si efectivamente deseas eliminar tu cuenta, haz click en "Eliminar"</p>
                            <button type="submit" class="btn btn-link">Eliminar</button>
                            <button type="button" class="btn btn-link" onclick="history.back()">Volver</button>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </section>
</th:block>
</html>
