<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>
    <link rel="stylesheet" type="text/css" href="../../resources/static/common/css/source/custom/help.css"
          th:href="@{/common/css/source/custom/help.css}"/>
    <div sec:authorize="isAuthenticated()">
        <script src="../assets/common/js/custom/socket.js" th:src="@{/common/js/custom/socket.js}"></script>
    </div>
</head>
<th:block layout:fragment="content">
    <section class="page-content">
        <div class="page-content-inner">
            <form  th:action="@{/user/delete}" th:object="${user}" th:method="PUT">
                <section class="panel panel-profile panel-with-borders col-md-6">
                    <div class="page-content-inner">
                        <div class="panel-body">
                            <h5 th:text="${user.name + ', ¿Seguro deseas eliminar tu cuenta?'}"></h5>
                        </div>
                            <div class="form-actions">
                                <div class="form-group">
                                    <button type="sumbit" class="btn btn-primary">SI</button>
                                    <button type="button" class="btn btn-default" onclick="history.back()">Atras
                                    </button>
                                </div>
                            </div>
                        </div>
                </section>
            </form>
        </div>
    </section>
</th:block>
</html>
