<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>OkTrueque</title>

    <link href="../../static/common/img/favicon/favicon.96x96.png" th:href="@{/common/img/favicon/favicon-96x96.png}"
          rel="apple-touch-icon" type="image/png" sizes="96x96"/>
    <link href="../../static/common/img/favicon/favicon.32x32.png" th:href="@{/common/img/favicon/favicon-32x32.png}"
          rel="apple-touch-icon" type="image/png" sizes="32x32"/>
    <link href="../../static/common/img/favicon/favicon.16x16.png" th:href="@{/common/img/favicon/favicon-16x16.png}"
          rel="apple-touch-icon" type="image/png" sizes="16x16"/>
    <link href="../../static/common/img/favicon/favicon.32x32.png" th:href="@{/common/img/favicon/favicon-32x32.png}"
          rel="icon" type="image/png"/>
    <link href="favicon.ico" rel="shortcut icon"/>

    <!-- HTML5 shim and Respond.js for < IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Vendors Styles -->
    <!-- v1.0.0 -->
    <link rel="stylesheet" type="text/css" href="../../static/vendors/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="../../static/vendors/datatables/media/css/dataTables.bootstrap4.min.css"
          th:href="@{/vendors/datatables/media/css/dataTables.bootstrap4.min.css}"/>
    <!-- v1.7.0 -->
    <link rel="stylesheet" type="text/css" href="../../static/vendors/dropify/dist/css/dropify.min.css"
          th:href="@{/vendors/dropify/dist/css/dropify.min.css}"/>

    <!-- Clean UI Styles -->
    <link rel="stylesheet" type="text/css" href="../../static/common/css/source/main.css"
          th:href="@{/common/css/source/main.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/common/css/source/custom/pace.css"
          th:href="@{/common/css/source/custom/pace.css}"/>

    <!-- Vendors Scripts -->
    <!-- v1.0.0 -->
    <script src="../../static/vendors/jquery/jquery.min.js" th:src="@{/vendors/jquery/jquery.min.js}"></script>
    <script src="../../static/vendors/tether/dist/js/tether.min.js"
            th:src="@{/vendors/tether/dist/js/tether.min.js}"></script>
    <script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js"
            th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script src="../../static/vendors/html5-form-validation/dist/jquery.validation.min.js"
            th:src="@{/vendors/html5-form-validation/dist/jquery.validation.min.js}"></script>
    <script src="../../static/vendors/autosize/dist/autosize.min.js"
            th:src="@{/vendors/autosize/dist/autosize.min.js}"></script>
    <script src="../../static/vendors/bootstrap-show-password/bootstrap-show-password.min.js"
            th:src="@{/vendors/bootstrap-show-password/bootstrap-show-password.min.js}"></script>
    <script src="../../static/vendors/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"
            th:src="@{/vendors/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js}"></script>
    <script src="../../static/vendors/datatables/media/js/jquery.dataTables.min.js"
            th:src="@{/vendors/datatables/media/js/jquery.dataTables.min.js}"></script>
    <script src="../../static/vendors/datatables/media/js/dataTables.bootstrap4.min.js"
            th:src="@{/vendors/datatables/media/js/dataTables.bootstrap4.min.js}"></script>
    <script src="../../static/vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js"
            th:src="@{/vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js}"></script>
    <script src="../../static/vendors/datatables-responsive/js/dataTables.responsive.js"
            th:src="@{/vendors/datatables-responsive/js/dataTables.responsive.js}"></script>
    <script src="../../static/vendors/editable-table/mindmup-editabletable.js"
            th:src="@{/vendors/editable-table/mindmup-editabletable.js}"></script>
    <!-- v1.7.0 -->
    <script src="../../static/vendors/dropify/dist/js/dropify.min.js"
            th:src="@{/vendors/dropify/dist/js/dropify.min.js}"></script>

    <!-- Clean UI Scripts -->
    <script src="../../static/common/js/common.js" th:src="@{/common/js/common.js}"></script>
    <script src="../../static/common/js/demo.temp.js" th:src="@{/common/js/demo.temp.js}"></script>
    <script src="../assets/common/js/custom/pace.min.js" th:src="@{/common/js/custom/pace.min.js}"></script>
    <script src="../assets/common/js/custom/sidebar.js" th:src="@{/common/js/custom/sidebar.js}"></script>
</head>
<body class="theme-green menu-static">
<section class="page-content">
    <div class="page-content-inner">
        <div class="single-page-block">
            <div class="margin-auto text-center max-width-500">
                <h1>Error 500</h1>
                <p>The page you are looking for does not exist; it may have been moved, or removed altogether. You might
                    want to try the search function. Alternatively, return to the front page.</p>
                <a href="/items" class="btn btn-link">Go Back</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>