<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content=""/>
		<meta name="author" content=""/>

		<!--PWA-->
		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<link rel="manifest" th:href="@{/common/img/favicon/manifest.json}" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-108059299-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-108059299-1');
		</script>
		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="32x32" href="../static/common/img/favicon/favicon-32x32.png" th:href="@{/common/img/favicon/favicon-32x32.png}"/>
		<link rel="icon" type="image/png" sizes="96x96" href="../static/common/img/favicon/favicon-96x96.png" th:href="@{/common/img/favicon/favicon-96x96.png}"/>
		<link rel="icon" type="image/png" sizes="16x16" href="../static/common/img/favicon/favicon-16x16.png" th:href="@{/common/img/favicon/favicon-16x16.png}"/>

		<title>OkTrueque</title>
		<!-- Bootstrap core CSS -->
		<link th:href="@{/common/css/source/landing/bootstrap.min.css}" rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
		<!-- Custom styles for this template -->
		<link rel="stylesheet" type="text/css" href="../static/common/css/source/custom/prueba.css" th:href="@{/common/css/source/custom/prueba.css}"/>
		<link href="css/owl.carousel.css" rel="stylesheet" th:href="@{/common/css/source/landing/owl.carousel.css}"/>
		<link href="css/owl.theme.default.min.css"  rel="stylesheet" th:href="@{/common/css/source/landing/owl.theme.default.min.css}"/>
		<link href="css/style.css" rel="stylesheet" th:href="@{/common/css/source/landing/style.css}"/>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<!--VALIDATIONS-->
		<script th:src="@{/common/js/custom/formValidator.js}" src="../static/common/js/custom/formValidator.js"></script>
	</head>
	<body id="page-top">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand page-scroll" href="/"><img src="img/logo-landing.png" height="40px" width="180px" th:src="@{/common/img/logo-landing.png}" alt="OkTrueque"/></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li>
							<a class="page-scroll" href="#page-top">Principal</a>
						</li>
						<li>
							<a class="page-scroll" href="#contact">Contáctanos</a>
						</li>
						<li>
							<a class="page-scroll" href="/register">Registrarse</a>
						</li>
						<li>
							<a class="page-scroll" href="/login">Ingresar</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		<!-- Header -->
		<header>
			<div class="container-fluid">
				<div class="slider-container">

						<div class="owl-slider owl-carousel">
							<div class="item">
								<div class="owl-slider-item">
									<img src="images/libros.png" th:src="@{/common/img/carousel/libros.png}" class="img-responsive" alt="portfolio"/>
									<div class="intro-text texto-slider">
										<div class="intro-heading texto-intro-heading">Libros y Revistas</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="owl-slider-item">
									<img src="images/clothes.png" th:src="@{/common/img/carousel/clothes.png}" class="img-responsive" alt="portfolio"/>
									<div class="intro-text texto-slider">
										<div class="intro-heading texto-intro-heading">Ropa e Indumentaria</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="owl-slider-item">
									<img src="images/herramientas.png" th:src="@{/common/img/carousel/herramientas.png}" class="img-responsive" alt="portfolio"/>
									<div class="intro-text texto-slider">
										<div class="intro-heading texto-intro-heading">Herramientas</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="owl-slider-item">
									<img src="images/music.png" th:src="@{/common/img/carousel/music.png}" class="img-responsive" alt="portfolio"/>
									<div class="intro-text texto-slider">
										<div class="intro-heading texto-intro-heading">Instrumentos Musicales</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="owl-slider-item">
									<img src="images/muebles.png" th:src="@{/common/img/carousel/muebles.png}" class="img-responsive" alt="portfolio"/>
									<div class="intro-text texto-slider">
										<div class="intro-heading texto-intro-heading">Muebles y Electrodomésticos</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</header>

		<section class="section-cta">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-xs-7">
						<h2 class="reduced-text-mobile">¡Encuentra lo que estás buscando. Deshazte de eso que no usas!</h2>
					</div>
					<div class="col-md-4 col-xs-4">
						<a href="/login" class="button-cta">INGRESAR</a>
					</div>
				</div>
			</div>
		</section>

		<section id="portfolio" class="light-bg">
			<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<a href="/items">
						<h2>Inicia tu búsqueda!</h2>
						</a>
						<p>Algunos de los objetos esperando ser trocados por sus dueños.</p>
					</div>
				</div>
			</div>
			<div class="row row-0-gutter">
				<!-- start portfolio item -->
				<div class=" col-md-4 col-0-gutter col-xs-4" th:each="item : ${items}">
					<div class=" ot-portfolio-item">
						<figure class="image-landing effect-bubba">
							<img th:src="${item.photo1}" alt="item" class="prueba image-responsive-oktrueque" />
							<figcaption>
								<h2 th:text="${item.name}">Reloj Rolex</h2>
								<p th:text="${item.category.name}">Accesorios</p>
								<a th:href="@{'/items/' + ${item.id}}">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
			</div>
			</div><!-- end container -->
		</section>
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Categorias</h2>
							<p>Nuestros artículos se encuentran organizados en categorías que te permitirán encontrar mucho más rápido aquello que estás buscando. <br/><br/><strong>Algunas de ellas</strong></p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- about module -->
					<div class="col-md-3 col-xs-6 text-center ">
						<div class="mz-module ">
							<a th:href="@{/items(id_category=5)}">
							<div id="mz-module-about-libros" class="mz-module-about height-280 no-vertical-padding">
								<i class="fa fa-book color1 ot-circle"></i>
								<h3>Libros</h3>
								<p>Comparte una historia que te emocionó con otros lectores</p>
							</div>
							</a>
						</div>
					</div>
					<!-- end about module -->
					<!-- about module -->
					<div class="col-md-3 col-xs-6 text-center ">
						<div class="mz-module ">
							<a th:href="@{/items(id_category=6)}">
							<div id="mz-module-about-instrumentos" class="mz-module-about height-280 no-vertical-padding">
								<i class="fa fa-music color2 ot-circle"></i>
								<h3>Instrumentos</h3>
								<p>Nunca es tarde para explorar este hobbie</p>
							</div>
							</a>
						</div>
					</div>
					<!-- end about module -->
					<!-- about module -->
					<div class="col-md-3 col-xs-6 text-center ">
						<div class="mz-module ">
							<a th:href="@{/items(id_category=3)}">
							<div id="mz-module-about-muebles" class="mz-module-about height-280 no-vertical-padding">
								<i class="fa fa-briefcase color3 ot-circle"></i>
								<h3>Muebles</h3>
								<p>Aquella herramienta que nunca te diste el tiempo de comprar</p>
							</div>
							</a>
						</div>
					</div>
					<!-- end about module -->
					<!-- about module -->
					<div class="col-md-3 col-xs-6 text-center">
						<div class="mz-module ">
							<a th:href="@{/items(id_category=1)}">
							<div id="mz-module-about-indumentaria" class="mz-module-about height-280 no-vertical-padding">
								<i class="fa fa-shopping-cart color4 ot-circle"></i>
								<h3>Indumentaria</h3>
								<p> En excelente estado, validado por nuestro equipo</p>
							</div>
							</a>
						</div>
					</div>
					<!-- end about module -->
				</div>
			</div>
			<!-- /.container -->
		</section>

		<section class="section-cta">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-xs-7">
						<h2 class="reduced-text-mobile">¡Encuentra lo que estás buscando. Deshazte de eso que no usas!</h2>
					</div>
					<div class="col-md-4 col-xs-4">
						<a href="/login" class="button-cta">INGRESAR</a>
					</div>
				</div>
			</div>
		</section>

		<section id="contact" class="dark-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Contáctanos</h2>
							<p>Si aún tienes dudas sobre el sistema, por favor envíanos un correo</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-2 col-md-8">
						<form  id="contactForm">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input id="nameAndLastNameInput" type="text" class="form-control" placeholder="Ingrese su Nombre y Apellido" />
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="email" class="form-control" placeholder="Ingrese su Email" id="emailInput" />
										<p class="help-block text-danger"></p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="form-control" placeholder="Mensaje" id="messageInput"></textarea>
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="row">
								<div class="col-lg-12 text-center">
									<div id="success"></div>
									<button id="btnSend" type="button" class="btn ladda-button" data-style="zoom-in">Enviar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<p id="back-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</p>
		<footer>
			<div class="container text-center">
				<img src="images/simbolo-landing.png" th:src="@{/common/img/simbolo-landing.png}" alt="OkTrueque"/>
			</div>
		</footer>

		<!--MESSAGES MODAL-->
		<div class="modal fade" id="messageModal" data-color="red" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"
			 style=" vertical-align: middle; z-index: 3000;">
			<div class="modal-dialog" role="document">
				<div class="modal-content" style="background-color: #ced5d8">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title">Aviso</h4>
					</div>
					<div class="modal-body text-center">
						<span id="messageSpan"></span>
					</div>
					<div class="modal-footer">
						<button type="button" data-dismiss="modal" class="btn btn-primary">Aceptar</button>
					</div>
				</div>
			</div>
		</div>

		<!--END MESSAGES MODAL-->

		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<script src="../../static/vendors/tether/dist/js/tether.min.js" th:src="@{/vendors/tether/dist/js/tether.min.js}"></script>
		<script src="../assets/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
		<script src="js/owl.carousel.min.js" th:src="@{/common/js/landing/owl.carousel.min.js}"></script>
		<script src="js/cbpAnimatedHeader.js" th:src="@{/common/js/landing/cbpAnimatedHeader.js}"></script>
		<script src="js/jquery.appear.js" th:src="@{/common/js/landing/jquery.appear.js}"></script>
		<script src="js/SmoothScroll.min.js" th:src="@{/common/js/landing/SmoothScroll.min.js}"></script>
		<script src="js/theme-scripts.js" th:src="@{/common/js/landing/theme-scripts.js}"></script>


		<script th:inline="javascript">
			/*<![CDATA[*/

            document.addEventListener("DOMContentLoaded", function () {

//         ---------------   CONTACTO   -----------------
                $("#btnSend").on("click", function () {
                    let message = 'Hola! Mi nombre es ' +$("#nameAndLastNameInput").val() +' y mi email es ' +$("#emailInput").val() +'. Mi mensaje para ustedes es: ' +$("#messageInput").val();
                    let email = {
                        mailTo: 'oktrueque@gmail.com',
                        mailSubject: 'Contacto',
                        mailContent: message,
                        contentType: 'text/plain'
                    };
                    if (isValidated('contactUsForm')) {
                        $.ajax({
                            type: "POST",
                            url: "/contact",
                            contentType: "application/json",
                            data: JSON.stringify(email),
                            dataType: 'text',
//                            beforeSend: function (xhr) {
//                                xhr.setRequestHeader(header, token);
//                            },
                            success: function () {
                                swal("Éxito", "Tu mensaje será respondido a la brevedad", "success");
                            },
                            error: function (e) {
                                console.log(JSON.stringify(e));
                            }
                        });
                    }
                });

            });
			/*]]>*/
		</script>
	</body>
</html>
