<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>ITEMS</title>
    <!--&lt;!&ndash; Compiled and minified CSS &ndash;&gt;-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"></link>
    <script src="../static/js/jquery-1.10.2.js" type="text/javascript" th:src="@{/js/jquery-1.10.2.js}"></script>
    <!--&lt;!&ndash; Compiled and minified JavaScript &ndash;&gt;-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Items de Usuario</h1>
        <table class="responsive-table highlight centered">
            <thead>
            <tr>
                <th>Item</th>
                <th>Descripcion</th>
                <th>Categoria</th>
                <th>Usuario</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="item : ${items}">
                <tr class="items-table" th:attr="data-id=${item.id}">
                    <td th:text="${item.name}">Item</td>
                    <td th:text="${item.description}">Descripcion</td>
                    <td th:text="${item.category.name}">Categoria</td>
                    <td th:text="${item.user.name} +' ' + ${item.user.last_name}">Usuario</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <div class="container">
        <form th:action="@{/items}" th:object="${item}" th:method="POST">
            <!--<div class="container">-->
                <!--<label for="id"> ID</label>-->
                <!--<input type="number" id="id" th:field="*{id}"></input>-->
            <!--</div>-->
            <div class="container">
                <label for="name"> Nombre</label>
                <input type="text" id="name" th:field="*{name}"></input>
            </div>
            <div class="container">
                <label for="description"> Descripcion</label>
                <input type="text" id="description" th:field="*{description}"></input>
            </div>
            <!--aca va el select y se borra lo de abajo-->
            <div class="container">
                <label for="categories"> Categorias</label>
                <select id="categories" th:field="*{category}">
                    <option th:each="cat : ${categories}"
                            th:value="${cat.id}" th:text="${cat.name}"></option>
                </select>
            </div>
            <div class="container">
                <input type="submit" value="Registrar"> </input>
            </div>
        </form>
    </div>
</body>

<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>
<script type="text/javascript">
    $(function() {
        $(".items-table").on("click", function(e){
            e.preventDefault();
            var id = $(this).data("id");
            window.location ="/items/" + id;
        });
    });
</script>

</html>