<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>

</head>
<th:block layout:fragment="content">
<section class="page-content">
    <div class="page-content-inner">

        <!-- Ecommerce Product Details -->
        <section class="panel panel-with-borders">
            <div class="panel-heading">
                <h2>
                    Product Details
                </h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <!--Visor de imagenes de la parte izquierda-->
                    <div class="col-lg-8">
                        <div class="cui-ecommerce--catalog--item">
                            <div class="cui-ecommerce--catalog--item--img">
                                <a href="javascript: void(0);">
                                    <img th:src="${item.photo1}" />
                                </a>
                            </div>
                        </div>
                        <div class="cui-ecommerce--product--photos clearfix">
                            <div class="cui-ecommerce--product--photos-item cui-ecommerce--product--photos-item__active">
                                <img th:src="${item.photo1}"/>
                            </div>
                            <div class="cui-ecommerce--product--photos-item">
                                <img th:src="${item.photo2}"/>
                            </div>
                            <div class="cui-ecommerce--product--photos-item">
                                <img th:src="${item.photo3}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h4 class="cui-ecommerce--product--main-title" th:text="${item.name}"></h4>
                        <div class="cui-ecommerce--product--controls">
                            <div sec:authorize="isAuthenticated()">
                                <form id="form-trueque" action="/trueques" th:method="GET">
                                    <input type="hidden" id="username-user-offerer" name="username-user-offerer" th:value="${#authentication.principal.username}"/>
                                    <input type="hidden" id="username-user-demandant" name="username-user-demandant" th:value="${item.user.username}"/>
                                    <button type="sumbit" id="btn-trueque" class="btn btn-icon btn-primary btn-lg margin-right-15">
                                        <i class="icmn-forward margin-right-5"></i>
                                        Trueque Ya
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="cui-ecommerce--product--info">
                            <div class="nav-tabs-horizontal">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#tab1" role="tab">Descripción</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab2" role="tab">Información</a>
                                    </li>
                                </ul>
                                <div class="tab-content padding-vertical-20">
                                    <div class="tab-pane active" id="tab1" role="tabpanel">
                                        <p th:text="${item.description}"></p>
                                    </div>
                                    <div class="tab-pane" id="tab2" role="tabpanel">
                                        <dl class="dl-horizontal user-profile-dl">
                                            <dt>Usuario</dt>
                                            <dd th:text="${item.user.name} + ' ' + ${item.user.last_name}"></dd>
                                            <dt>Email</dt>
                                            <dd th:text="${item.user.email}"></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Ecommerce Product Details -->
    </div>
</section>
</th:block>
</html>