<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>

</head>
<th:block layout:fragment="content">
<section class="page-content">
    <div class="page-content-inner">
        <section class="panel panel-with-borders">
            <div class="panel-heading">
                <h3>¡Encuentra lo que estás buscando!</h3>
                <th:block th:each="category : ${categories}">
                    <a th:href="@{/items(id_category=${category.id})}" class="btn btn-default margin-inline" th:text="${category.name}">
                        Categoria
                    </a>
                </th:block>
            </div>
            <div class="panel-body">
                <div class="cui-ecommerce--catalog">
                    <div th:if="${category != null}">
                        <h3 th:text="${category.name}">Category Name</h3>
                        <hr/>
                    </div>
                    <div th:if="${items.isEmpty()}">
                        <p>Lo sentimos, no tenemos items para mostrarte en este momento, ¡Inténtalo nuevamente más tarde!</p>
                    </div>
                    <div class="row">
                        <th:block th:each="item : ${items}">
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="cui-ecommerce--catalog--item">
                                    <div class="cui-ecommerce--catalog--item--img">
                                        <a th:href="@{'/items/' + ${item.id}}">
                                            <img th:src="${item.photo1}"/>
                                        </a>
                                    </div>
                                    <div class="cui-ecommerce--catalog--item--title">
                                        <a th:href="@{'/items/' + ${item.id}}" th:text="${item.name}"></a>
                                    </div>
                                    <div class="cui-ecommerce--catalog--item--descr">
                                        <P th:text="${item.category.name}"></P>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <!--Pagination Bar -->
                <div>
                    <nav class="centered" style="text-align: center">
                        <ul class='pagination justify-content-center'>
                            <li class="page-item" th:classappend="${page.hasPreviousPage}? '' : 'disabled'">
                                <span class="page-link" th:if='${not page.hasPreviousPage}'><i class="fa fa-arrow-left"></i></span>
                                <a  class="page-link" th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}' title='Go to previous page'><i class="fa fa-arrow-left"></i></a>
                            </li>
                            <li class="page-item" th:each='item : ${page.items}' th:classappend="${item.current}? 'active' : ''">
                                <span class="page-link" th:if='${item.current}' th:text='${item.number}'></span>
                                <a  class="page-link" th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span th:text='${item.number}'></span></a>
                            </li>
                            <li class="page-item" th:classappend="${page.hasNextPage}? '' : 'disabled'">
                                <span class="page-link" th:if='${not page.hasNextPage}'><i class="fa fa-arrow-right"></i></span>
                                <a class="page-link" th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='Go to next page'><i class="fa fa-arrow-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </div>
</section>
</th:block>
</html>
