<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
</head>
<th:block layout:fragment="content">
    <section class="page-content">
        <div class="page-content-inner">

            <!-- Ecommerce Products List -->
            <section class="panel panel-with-borders">
                <div class="panel-heading">
                    <h2>
                        Tus Items
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-hover nowrap" id="example1" width="100%">
                        <thead class="thead-default">
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Categoría</th>
                            <th>Estado</th>
                            <th>Tags</th>
                            <th>Editar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${items}">
                            <td><a th:href="'/profile/items/' + ${item.id}">
                                <img width="100px" th:src="${item.photo1}"/>
                            </a></td>
                            <td><a href="javascript: void(0);" class="link-underlined"><span
                                    th:text="${item.name}"></span></a></td>
                            <td><span th:text="${item.description}"></span></td>
                            <td><span class="align-middle" th:text="${item.category.name}"></span></td>
                            <td><span th:text="${item.getStatusValue()}"></span></td>
                            <!--  <td><dd th:if="${hasTags}"><span th:each="tag : ${tags}" class="label label-default tag-margin" th:text="${tag.name}">Tag </br></span></dd></td>
                       -->
                            <td></td>
                            <td>
                                <a th:href="@{'/profile/items/' + ${item.id} + '/edit'}">
                                    <button type="button" class="btn">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <!-- End Ecommerce Products List -->

        </div>
    </section>


</th:block>
<!-- Page Scripts -->
<script>
    $(function () {
        // Datatables
        $('#example1').DataTable({
            "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
            responsive: true,
            "autoWidth": false
        });
    })
</script>
<!-- End Page Scripts -->
</html>