<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>ITEMS</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"></link>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</head>
<body>
    <div class="container">
        <form th:action="/newItem" th:object="${item}" th:method="POST">
            <div class="container">
                <label for="name"> </label>
                <input type="text" id="name" th:field="*{name}">Nombre Item</input>
            </div>
            <div class="container">
                <label for="description"> </label>
                <input type="text" id="description" th:field="*{description}">Descripcion</input>
            </div>
            <div class="container">
                <label for="category"> </label>
                <input type="text" id="category" th:field="*{category}">Categoria</input>
            </div>
            <div class="container">
                <label for="user"> </label>
                <input type="text" id="user" th:field="*{user}">Description</input>
            </div>
            <div class="container">
                <input type="submit" value="Registrar">
            </div>
        </form>
    </div>

</body>

