<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>
    <link rel="stylesheet" type="text/css" href="../static/common/css/source/custom/profile.css" th:href="@{/common/css/source/custom/profile.css}"/>
    <!-- MagicSuggest -->
    <link th:href="@{/vendors/magicsuggest/magicsuggest-min.css}"
          href="../static/vendors/magicsuggest/magicsuggest-min.css" rel="stylesheet"/>
    <script th:src="@{/vendors/magicsuggest/magicsuggest-min.js}"
            src="../static/vendors/magicsuggest/magicsuggest-min.js"></script>
</head>
<th:block layout:fragment="content">
<section class="page-content">
<div class="page-content-inner">

    <!-- Profile Header -->
    <nav class="top-submenu top-submenu-with-background">
        <div class="profile-header">
            <div class="profile-header-info">
                <div class="row">
                    <div class="col-xl-8 col-xl-offset-4">
                    <!-- Esto todavia no lo saco porque se cae el nombre, podria ser reemplazado por un boton que lleve a los items -->
                        <div th:if="${hasScore}" class="width-100 text-center pull-right hidden-md-down">
                            <h2><span class="label label-success" th:text="${user.score}">8,2</span></h2>
                            <div class="cui-ecommerce--product--rating stars">
                                <!--Las estrellas se agregan por javascript-->
                            </div>
                        </div>
                        <div class="profile-header-title">
                            <h2 th:text="${'Bienvenido ' + user.name}"></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Profile Header -->

    <!-- Profile -->
    <div class="row">
        <div class="col-xl-4">
            <section class="panel profile-user background-img">
                <div class="panel-body">
                    <div class="profile-user-title text-center">
                        <a class="avatar" href="javascript:void(0);">
                            <img th:src="${user.photo1}"/>
                        </a>
                        <div class="cui-ecommerce--product--rating stars">
                            <!--Las estrellas se agregan por javascript-->
                        </div>
                        <br/>
                    </div>
                </div>
            </section>
            <section class="panel panel-profile">
                <div class="panel-body">
                    <h6>Information</h6>
                    <input id="userId" type="hidden" th:field="${user.id}" />
                    <dl class="dl-horizontal user-profile-dl">
                        <dt>Nombre Completo</dt>
                        <dd th:text="${user.name + ' ' + user.last_name}">Nombre</dd>
                        <dt>Nombre de Usuario</dt>
                        <dd th:text="${user.username}">Username</dd>
                        <dt>Email</dt>
                        <dd th:text="${user.email}">Email</dd>
                        <dt>Intereses</dt>
                        <dd th:if="${hasTags}"><span th:each="tag : ${tags}" class="label label-default tag-margin" th:text="${tag.name}">Tag</span></dd>
                        <dd th:if="${!hasTags}">Parece que no has actualizado tus intereses.</dd>
                    </dl>
                    <a href="/profile/edit"><button class="btn btn-primary" type="button">Editar</button></a>
                </div>
                <!--<div class="panel-footer">-->
                    <!--&lt;!&ndash;<a href="/profile/edit">Editar</a>&ndash;&gt;-->
                   <!---->
                <!--</div>-->
            </section>
        </div>
        <div class="col-xl-8">
            <section class="panel panel-profile profile-user-content">
                <div class="panel-body">
                    <div class="nav-tabs-horizontal">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#posts" role="tab">
                                    <i class="icmn-menu3"></i>
                                    Items
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#messaging" role="tab">
                                    <i class="icmn-image-compare"></i>
                                    Trueques
                                </a>
                            </li>
                            <div th:if="${hasItems}" >
                            <li style="float: right" class="nav-item">
                                <a data-toggle="modal" data-target="#modalCreateItem">
                                <button type="button" class="btn btn-icon btn-info margin-inline">
                                    <i class="icmn-plus2" aria-hidden="true"></i>
                                </button>
                                </a>
                            </li>
                            </div>
                        </ul>
                        <div class="tab-content padding-vertical-20 active">
                            <div th:if="${hasItems}" class="tab-pane active" id="posts" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="margin-bottom-50">
                                            <table class="table table-hover nowrap" id="tbl-items" width="100%">
                                                <thead>
                                                <tr>
                                                    <th>Imagen</th>
                                                    <th>Nombre</th>
                                                    <th>Categoria</th>
                                                    <th>Estado</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr  th:each="item : ${user.getItems()}">
                                                    <td><a th:href="'/profile/items/' + ${item.id}">
                                                        <img width="100px" th:src="${item.photo1}"/>
                                                    </a></td>
                                                    <td><a th:href="'/profile/items/' + ${item.id}" class="link-underlined"><span
                                                            th:text="${item.name}"></span></a></td>
                                                    <td th:text="${item.category.name}">Categoria</td>
                                                    <td><span class="label label-info" th:text="${item.getStatusValue()}">Estado</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <a href="/profile/items" class="btn btn-default width-full" th:text="${'Ver Más (' + user.itemsAmount + ')'}">Ver Más</a>
                            </div>
                            <div th:if="${!hasItems}" class="tab-pane active" id="posts" role="tabpanel">
                                Parece que aún no tienes items.
                                <a id="manito" data-toggle="modal" data-target="#modalCreateItem">
                                    Click acá para agregar uno!
                                </a>
                            </div>
                            <div class="tab-pane" id="messaging" role="tabpanel">
                                <div class="tab-pane active" id="posts" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="margin-bottom-50">
                                                <table class="table table-hover nowrap" id="tbl-items" width="100%">
                                                    <thead>
                                                    <tr>
                                                        <th>Fecha de Propuesta</th>
                                                        <th>Participantes</th>
                                                        <th>Estado</th>
                                                        <th>Ver Detalle</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="trueque : ${trueques}">
                                                        <td th:text="${trueque.proposalDate}"></td>
                                                        <td th:text="${trueque.peopleCount}"></td>
                                                        <td><span class="label label-info" th:text="${trueque.status}"></span></td>
                                                        <td>
                                                            <a th:href="'/profile/trueques/' + ${trueque.id}">
                                                                <button type="button" class="btn">
                                                                    <i class="fa fa-bars" aria-hidden="true"/>
                                                                </button>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- End Profile -->
</div>

    <!--MODAL CREATE ITEM-->
    <div class="modal fade" id="modalCreateItem" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Nuevo Item</h4>
                </div>

                <form id="nuevoItemForm" th:action="@{'/profile/items'}" th:object="${item}" th:method="POST">
                    <input id="itemId" type="hidden" th:field="${item.id}" />

                    <div class="modal-body">
                        <div class="col-lg">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label">Nombre</label>
                                        <input id="itemName" type="text" th:field="*{name}" class="form-control col-lg-12"/>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <!--DROP DOWN LIST DE CATEGORIA-->
                                    <div class="form-group">
                                        <label for="selectCat" class="form-control-label">Categoría</label>
                                        <select th:field="*{category}" id="selectCat" class="form-control">
                                            <option value="-1"> Seleccione categoría</option>
                                            <option th:each="cat : ${categories}" th:value="${cat.id}"
                                                    th:text="${cat.name}" th:field="*{category}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="descTextArea" class="form-control-label">Descripción</label>
                                        <textarea th:field="*{description}" id="descTextArea" class="form-control" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>

                            <h5>Etiquetas</h5>
                            <div class="form-group">
                                <label for="tags" class="form-control-label">Escribe aquí tus nuevos intereses personales</label>
                                <input id="tags" type="text" class="form-control tagsinput" />
                            </div>
                            <h5>Fotos del Item</h5>
                            <div class="form-group">
                                <div class="dropify-wrapper"><div class="dropify-message"><span class="file-icon"></span> <p>Drag and drop a file here or click</p><p class="dropify-error">Ooops, something wrong appended.</p></div><div class="dropify-loader"></div><div class="dropify-errors-container"><ul></ul></div><input type="file" id="input-file-now" class="dropify"/><button type="button" class="dropify-clear">Remove</button><div class="dropify-preview"><span class="dropify-render"></span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p><p class="dropify-infos-message">Drag and drop or click to replace</p></div></div></div></div>
                            </div>
                        </div>
                        <div class="row modal-footer">
                            <button id="btnCerrar" type="button" class="btn" data-dismiss="#modalCreateItem">Cerrar</button>
                            <button id="submit-btn" type="button"  class="btn btn-primary">Crear</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!--END MODAL CREATE ITEM-->

<!-- Page Scripts -->
    <script>
        $(function(){

            $('#tbl-items').DataTable({
                responsive: true,
                searching: false,
                lengthChange: false,
                info: false,
                paging: false
            });
        });
    </script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var score = [[${user.score}]]/2;
        var hasScore = [[${hasScore}]];
        if(hasScore){
            var i;
            for(i = 0; i < score; i++){
                $('.stars').append('<i class="icmn-star-full"></i>');
            }
            for(i; i < 5; i++){
                $('.stars').append('<i class="icmn-star-empty"></i>');
            }
        }

        /*]]>*/
    </script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var token = [[${_csrf.token}]];
        var header = [[${_csrf.headerName}]];
        document.addEventListener("DOMContentLoaded", function () {
            var ms = $("#tags").magicSuggest({
                method: 'get'
                , data: '/tags'
                , allowFreeEntries: false
                , toggleOnClick: true
                , useTabKey: true
                , typeDelay: 0
                , maxSelection: null
                , required: true
                , vregex: /^[a-zA-Z\s]*$/g
            });
//            COMPORTAMIENTO DEL MODAL
            $('#modalCreateItem').on('hidden.bs.modal', function () {
                $(this).find('form').trigger('reset');
                $("#modalCreateItem").modal('hide');
                ms.clear();
                location.reload();
            });

            $("#submit-btn").on("click", function () {

                var itemId = $("#itemId").val();
                var itemName = $("#itemName").val();
                var itemDes = $("#descTextArea").val();
                var userId = $("#userId").val();
                var itemCat = $("#selectCat").val();
                //JSON para enviar.
                var newItem = {
                    id: itemId,
                    name: itemName,
                    user: {id: userId},
                    description: itemDes,
                    category: {id: itemCat},
                    status: 0,
                    idTags: ms.getValue(),
                    tags: null
                };

            if (validations()){

                $("#modalCreateItem").modal('hide');

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/profile/createItem",
                    data: JSON.stringify(newItem),
                    dataType: 'text',
                    cache: false,
                    timeout: 600000,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function () {
                        console.log("New tags posted succesfully!");
                    },
                    error: function (e) {
                        alert("Ha ocurrido un error creando el item, lo sentimos. Error: " + JSON.stringify(e));
                        console.log("ERROR Posting tags ajax: ", JSON.stringify(e));
                    }
                });



            } else if(ms.getValue()===null) {
                alert('Debe asignar tags al item!');
                return false;

            } else return true;



            });


            $("#btnCerrar").on("click", function () {
                $("#modalCreateItem").modal('hide');
            })

        });
        /*]]>*/
    </script>

    <script>

        function validations() {

            var selectValue = document.getElementById('selectCat').value;
            var itemName = $("#itemName").val();
            var itemDes = $("#descTextArea").val();

            console.log("ItemName: "+itemName);
            console.log("itemDes: "+itemDes);
            console.log("selectValue: "+selectValue);

            if (selectValue === '-1') {
                alert('Debe seleccionar una categoría para crear el item!');
                document.getElementById('selectCat').focus();
                return false;

            } else if (itemName.length===0) {
                alert('Debe asignar un nombre el item!');
                $("#itemName").focus();
                return false;

            } else if (!/^[a-zA-Z\s]*$/g.test(itemName)){
                alert('El nombre solo puede contener letras!');
                $("#itemName").focus();
                return false;

            } else if (itemDes.length===0){
                alert('Debe describir más el item!');
                $("#descTextArea").focus();
                return false;

            } else return true;






        }


    </script>
<!-- End Page Scripts -->
</section>
<div class="main-backdrop"><!-- --></div>

</th:block>
</html>