<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>OkTrueque</title>

    <link href="../../static/common/img/favicon/favicon.96x96.png" th:href="@{/common/img/favicon/favicon-96x96.png}"
          rel="apple-touch-icon" type="image/png" sizes="96x96"/>
    <link href="../../static/common/img/favicon/favicon.32x32.png" th:href="@{/common/img/favicon/favicon-32x32.png}"
          rel="apple-touch-icon" type="image/png" sizes="32x32"/>
    <link href="../../static/common/img/favicon/favicon.16x16.png" th:href="@{/common/img/favicon/favicon-16x16.png}"
          rel="apple-touch-icon" type="image/png" sizes="16x16"/>
    <link href="../../static/common/img/favicon/favicon.32x32.png" th:href="@{/common/img/favicon/favicon-32x32.png}" rel="icon" type="image/png"/>
    <link href="favicon.ico" rel="shortcut icon"/>

    <!-- HTML5 shim and Respond.js for < IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Vendors Styles -->
    <!-- v1.0.0 -->
    <link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/dist/css/bootstrap.min.css" th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}"/>

    <!-- Clean UI Styles -->
    <link rel="stylesheet" type="text/css" href="../assets/common/css/source/custom/login.css" th:href="@{/common/css/source/custom/login.css}"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../assets/common/css/source/main.css" th:href="@{/common/css/source/main.css}"/>

    <!-- Vendors Scripts -->
    <!-- v1.0.0 -->
    <script src="../assets/vendors/jquery/jquery.min.js" th:src="@{/vendors/jquery/jquery.min.js}"></script>
    <script src="../assets/vendors/tether/dist/js/tether.min.js" th:src="@{/vendors/tether/dist/js/tether.min.js}"></script>
    <script src="../assets/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script src="../assets/vendors/html5-form-validation/dist/jquery.validation.min.js" th:src="@{/vendors/html5-form-validation/dist/jquery.validation.min.js}"></script>
    <script src="../assets/vendors/bootstrap-show-password/bootstrap-show-password.min.js" th:src="@{/vendors/bootstrap-show-password/bootstrap-show-password.min.js}"></script>
</head>
<body class="theme-default" onload="icons()">

<section class="page-content">

    <div class="page-content-inner background-img">

        <!-- Register Page -->
        <div class="single-page-block-header">
            <div class="row">
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="javascript: history.back();">
                            <img src="../static/common/img/simbolo.png" th:src="@{common/img/simbolo.png}"
                                 alt="Clean UI Admin Template"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="single-page-block">
                <div class="single-page-block-inner effect-3d-element">
                    <div class="blur-placeholder"><!-- --></div>
                    <div class="single-page-block-form">
                        <h3 class="text-center">
                            <i class="icmn-users margin-right-10"></i>
                            Registro
                        </h3>
                        <div th:if="${error != null}">
                            <span class="text-danger" th:text="${error}"></span>
                            <br/>
                        </div>
                        <br/>
                        <form id="form-validation" name="form-validation" th:action="@{/register}" th:object="${user}"
                              method="POST" onsubmit="return checkPass()">

                            <div class="form-group">
                                <div class="form-input-icon form-input-icon-right">
                                    <input th:field="*{name}"
                                           class="form-control"
                                           placeholder="Nombre"
                                           type="text"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="">
                                    <input th:field="*{last_name}"
                                           class="form-control"
                                           placeholder="Apellido"
                                           type="text"/>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="form-input-icon form-input-icon-right">
                                    <input th:field="*{email}"
                                           id="validation-email"
                                           class="form-control"
                                           placeholder="Email"
                                           name="validation[Email]"
                                           type="text"
                                           data-validation="[EMAIL]"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-input-icon form-input-icon-right">
                                    <input th:field="*{username}"
                                           id="username-input"
                                           class="form-control"
                                           placeholder="Nombre de usuario"
                                           type="text"
                                           onfocus="genUsername()"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <input th:field="*{password}"
                                       id="validation[password]"
                                       class="form-control password"
                                       name="validation[password]"
                                       type="password" data-validation="[L>=6]"
                                       data-validation-message="$ must be at least 6 characters"
                                       placeholder="Contraseña"/>
                            </div>

                            <div id="div-pass2" class="form-group form-input-icon form-input-icon-right">
                                <i id="cross" class="icmn-cross"></i>
                                <i id="check" class="icmn-checkmark"></i>
                                <input id="pass2"
                                       name="pass2"
                                       type="password"
                                       class="form-control"
                                       placeholder="Repetir Contraseña"
                                       onkeyup="checkPass(); return false;"/>
                            </div>

                            <div class="form-actions">
                                <div>
                                    <label>
                                        <input required="true" type="checkbox" name="example6" checked="false"/>
                                        Acepto los terminos y condiciones
                                    </label>
                                </div>
                                <button id="btnReg" type="submit" value="Registrarse!"
                                        class="btn btn-primary width-150">
                                    Registrarse!
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-page-block-footer text-center">
        <ul class="list-unstyled list-inline">
            <li><a href="javascript: void(0);">Terminos de Uso</a></li>
            <li class="active"><a href="javascript: void(0);">Conformidad</a></li>
            <li><a href="javascript: void(0);">Informacion Confidencial</a></li>
            <li><a href="javascript: void(0);">Soporte</a></li>
            <li><a href="javascript: void(0);">Contacto</a></li>
        </ul>
    </div>
    <!-- End Register Page -->



    <!-- Page Scripts -->
    <script>

        $(function () {


// Form Validation
            $('#form-validation').validate({
                submit: {
                    settings: {
                        inputContainer: '.form-group',
                        errorListClass: 'form-control-error',
                        errorClass: 'has-danger'
                    }
                }
            });

// Add class to body for change layout settings
            $('body').addClass('single-page');

// Set Background Image for Form Block
            function setImage() {
                var imgUrl = $('.page-content-inner').css('background-image');

                $('.blur-placeholder').css('background-image', imgUrl);
            };

            function changeImgPositon() {
                var width = $(window).width(),
                    height = $(window).height(),
                    left = -(width - $('.single-page-block-inner').outerWidth()) / 2,
                    top = -(height - $('.single-page-block-inner').outerHeight()) / 2;


                $('.blur-placeholder').css({
                    width: width,
                    height: height,
                    left: left,
                    top: top
                });
            };


            setImage();
            changeImgPositon();

            $(window).on('resize', function () {
                changeImgPositon();
            });

// Mouse Move 3d Effect
            var rotation = function (e) {
                var perX = (e.clientX / $(window).width()) - 0.5;
                var perY = (e.clientY / $(window).height()) - 0.5;
                TweenMax.to(".effect-3d-element", 0.4, {
                    rotationY: 15 * perX,
                    rotationX: 15 * perY,
                    ease: Linear.easeNone,
                    transformPerspective: 1000,
                    transformOrigin: "center"
                })
            };
        });

    </script>
    <script th:src="@{/common/js/custom/register.js}" src="../static/common/js/custom/register.js"></script>

    <!-- End Page Scripts -->
</section>

<div class="main-backdrop"><!-- --></div>

</body>
</html>