<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register</title>

<link rel="stylesheet" href="../static/css/register.css">
<script src="../static/js/jquery-1.10.2.js"></script>
<script src="../static/js/register.js"></script>
</head>
<body class="grey lighten-2">
	
	<div class="materialContainer">


   <div class="box">

      <div class="title">Login</div>

      <div class="input">
         <label for="name">Email</label>
         <input type="text" name="name" id="name">
         <span class="spin"></span>
      </div>

      <div class="input">
         <label for="pass">Contraseña</label>
         <input type="password" name="pass" id="pass">
         <span class="spin"></span>
      </div>

      <div class="button login">
         <button><span>Entrar!</span> <i class="fa fa-check"></i></button>
      </div>

      <a href="" class="pass-forgot">Haz olvidado tu contraseña?</a>

   </div>

   <div class="overbox">
      <div class="material-button alt-2"><span class="shape"></span></div>

      <div class="title">Nuevo Usuario</div>

		<div class="input">
         <label for="userName">Nombre</label>
         <input type="text" name="userName" id="userName">
         <span class="spin"></span>
      </div>
		<div class="input">
         <label for="lastName">Apellido</label>
         <input type="text" name="lastName" id="lastName">
         <span class="spin"></span>
      </div>
      <div class="input">
         <label for="email">Email</label>
         <input type="text" name="email" id="email">
         <span class="spin"></span>
      </div>
<div class="input">
         <label for="password">Contraseña</label>
         <input type="password" name="password" id="password">
         <span class="spin"></span>
      </div>
      <div class="button">
         <button><span>Ingresar!</span></button>
      </div>


   </div>

</div>

</body>
</html>