<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <link rel="stylesheet" type="text/css" href="../static/common/css/source/custom/truequeDetail.css"
          th:href="@{/common/css/source/custom/truequeDetail.css}"/>
    <script src="../assets/common/js/custom/socket.js" th:src="@{/common/js/custom/socket.js}"></script>
</head>
<th:block layout:fragment="content">
    <section class="page-content">
        <div class="page-content-inner">

            <!-- Ecommerce Products List -->
            <section class="panel panel-with-borders">
                <div class="panel-heading ">
                    <div class="pull-right menu-item-dots">
                        <div class="dropdown">
                            <a href="javascript: void(0);" data-toggle="dropdown" aria-expanded="false">
                                <i class="icmn-more2"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                                <a class="dropdown-item" href="/profile/items/83/edit"><i class="dropdown-icon icmn-pencil"></i> Aceptar Trueque</a>
                                <div class="dropdown-divider"></div>
                                <a id="delete-item" class="dropdown-item" href="javascript:void(0)" data-id="83"><i class="dropdown-icon icmn-bin"></i> Cancelar Trueque</a>
                            </ul>
                        </div>
                    </div>
                    <h2>
                        Detalle del Trueque
                    </h2>
                    <div class="colg-lg-12" th:if="${peopleCount > 2}">
                    <span class="tip">Tip!</span> <span> Estas realizando un trueque entre tres personas. Recibiras los objetos de una persona y deberas entregarles tus objetos a otra!</span>
                    </div>
                    </div>

                <div class="panel-body">
                    <div class="col-lg-12 ">
                    <div class="col-lg-12">
                         <div class="col-lg-12 white-background margin margin-bottom-20">
                            <div class="col-lg-6">
                                <span th:if="${peopleCount > 2}" class="font-subtitle-spans">Vas a recibir los objetos de parte de:</span>
                                <span th:if="${peopleCount == 2}" class="font-subtitle-spans">Vas a trocar con:</span> <br/>
                                <div class="col-lg-6">
                                    <span class="col-lg-12">Nombre:<span class="info-space" th:text="${userOfferer.name}"></span></span>
                                    <span class="col-lg-12">Apellido:<span class="info-space" th:text="${userOfferer.last_name}"></span></span>
                                </div>
                                <div class="col-lg-6">
                                    <a th:href="@{'/users/' + ${userOfferer.username}}"><img class="avatar thirty-percent-width margin-top-negative-15 float-right" th:src="${userOfferer.photo1}"/></a>
                                </div>
                            </div>
                              <div th:if="${peopleCount > 2}" class="col-lg-6">
                                  <div class="colg-lg-12">
                                  <span class="font-subtitle-spans">Vas a entregar los objetos a:</span>
                                  </div>
                                  <div class="col-lg-6">
                                      <span>Nombre:<span class="info-space" th:text="${userTarget.name}"></span></span>
                                      <span>Apellido:<span class="info-space" th:text="${userTarget.last_name}"></span></span>
                                  </div>
                                  <div class="col-lg-6">
                                      <a th:href="@{'/users/' + ${userTarget.username}}"><img class="avatar thirty-percent-width margin-top-negative-15 float-right" th:src="${userTarget.photo1}"/></a>
                                  </div>
                              </div>
                            </div>
                    </div>
                    </div>
                </div>

                    <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <div class="col-lg-12 white-background text-center padding-top-10"><span class="font-title-spans">Te ofrecieron</span>
                                <th:block th:each="item : ${itemsOfferer}">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 margin-top-30">
                                        <div class="card cui-ecommerce--catalog--item height-170">
                                            <div class="col-lg-6 ">
                                                <div class="col-lg-12 no-padding">
                                                    <span class="col-lg-12 card-title margin-top-20" th:text="${item.name}"></span>
                                                    <p class="col-lg-12 card-descr no-padding" th:text="${item.description}"></p>
                                                    <div class="col-lg-12 padding-top-5 ver-mas-label"><a target="_blank" th:href="@{'/items/' + ${item.id}}"><i class="fa fa-info-circle"></i>Ver más</a></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 card-photo">
                                                <div class="col-lg-12 ">
                                                    <div class="col-lg-12 no-padding"><div class="col-lg-12 no-padding"><img class="avatar width-full" th:src="${item.photo1}"/></div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                             <div class="col-lg-6 white-background text-center padding-top-10"><div class="col-lg-12"><span class="font-title-spans">A cambio de</span></div>
                                 <th:block th:each="item : ${itemsPrincipal}">
                                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 margin-top-30">
                                         <div class="card cui-ecommerce--catalog--item height-170">
                                             <div class="col-lg-6 ">
                                                 <div class="col-lg-12 no-padding">
                                                     <span class="col-lg-12 card-title margin-top-20" th:text="${item.name}"></span>
                                                     <p class="col-lg-12 card-descr no-padding" th:text="${item.description}"></p>
                                                     <div class="col-lg-12 padding-top-5 ver-mas-label"><a target="_blank" th:href="@{'/items/' + ${item.id}}"><i class="fa fa-info-circle"></i>Ver más</a></div>
                                                 </div>
                                             </div>
                                             <div class="col-lg-6 card-photo">
                                                 <div class="col-lg-12 ">
                                                     <div class="col-lg-12 no-padding"><div class="col-lg-12 no-padding"><img class="avatar width-full" th:src="${item.photo1}"/></div></div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </th:block>
                             </div>
                    </div>
                </div>
            </section>

            <!--MODAL SET COMMENTS-->

            <div class="modal fade"  id="modalCreateComment" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" style="display: none;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 id="modal-name" class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <input type="hidden" id="idUser" name="userTarget"/>
                                <div class="form-group">
                                    <div class="col-lg">
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="commentDescription" class="form-control-label">Comentario</label>
                                                <textarea id="commentDescription" class="form-control" rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="sendComment" type="button"  class="btn btn-primary s">Enviar</button>
                            <button  type="button" class="btn" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--END MODAL SET COMMENT-->
            <!-- End Ecommerce Products List -->

        </div>
    </section>


</th:block>
<!-- Page Scripts -->



<script>
    $(function () {
        // Datatables
        $('#example1').DataTable({
            "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
            responsive: true,
            "autoWidth": false
        });
    })

</script>


<!-- End Page Scripts -->
</html>