<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
</head>
<th:block layout:fragment="content">
    <section class="page-content">
        <div class="page-content-inner">

            <!-- Ecommerce Products List -->
            <section class="panel panel-with-borders">
                <div class="panel-heading">
                    <h2>
                        Detalle del Trueque
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-hover nowrap" id="example1" width="100%">
                        <thead class="thead-default">
                        <tr>
                            <th>Fecha de Propuesta</th>
                            <th>Estado del Trueque</th>
                            <th>Usuarios Participantes</th>
                            <th>Items ofrecidos</th>
                            <th>Ver Perfil</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">

                            <td><span th:text="${trueque.proposalDate}"></span></td>
                            <td><span th:text="${trueque.status}"></span></td>
                            <td><span th:text="${user.name}+ ' ' + ${user.last_name}"></span></td>

                            <td th:each="item : ${items}" th:if="${item.user.id==user.id}">
                                <p th:text="${item.name}"></p>
                            </td>


                            <td><a th:href="'/users/' + ${user.username}">
                            <img width="100px" th:src="${user.photo1}"/>
                            </a></td>


                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <!-- End Ecommerce Products List -->

        </div>
    </section>


</th:block>
<!-- Page Scripts -->
<script>
    $(function () {
        // Datatables
        $('#example1').DataTable({
            "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
            responsive: true,
            "autoWidth": false
        });
    })
</script>
<!-- End Page Scripts -->
</html>