<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>
    <link rel="stylesheet" type="text/css" href="../../resources/static/common/css/source/custom/trueque.css"
          th:href="@{/common/css/source/custom/trueque.css}"/>
    <link rel="stylesheet" th:href="@{/common/css/source/custom/checkbox.css}"/>
    <script src="../assets/common/js/custom/socket.js" th:src="@{/common/js/custom/socket.js}"></script>
</head>
<th:block layout:fragment="content">
<section class="page-content">
    <form id="form-trueque" action="/trueques" th:method="POST">
    <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
    <div class="page-content-inner">

       <!-- Ecommerce Product Details -->
        <div th:if="${hasTags}" class="col-lg-12 col-xs-12 margin-bottom-10 tip-panel">
        <section class="panel panel-with-borders">
            <div class="col-lg-12 col-xs-12 panel-heading" ><span class="tip">Tip!</span> <p th:text="'Recuerda que a '+${demandant.name}+' le interesa: '"></p> <span th:each="tag : ${tagsDemandant}" class="label label-default tag-margin" th:text="${tag.name}">Tag</span></div>
        </section>
        </div>
<div class="col-md-6 col-xs-12" id="izquierda-panel">
    <section class="panel panel-with-borders">
        <div class="panel-heading">
            <h2>
                Tus items
            </h2>
        </div>
        <div class="panel-body scroll-items">
            <div class="cui-ecommerce--catalog panel-trueque-complete">
                <div class="row">
                    <th:block th:each="item : ${itemsUserOffer}">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding-for-cellphones">
                            <div class="card cui-ecommerce--catalog--item">
                                <div class="col-lg-6 col-xs-6">
                                    <div class="col-lg-12 col-xs-12 no-padding">
                                        <span class="col-lg-12 col-xs-12 card-title " th:text="${item.name}"></span>
                                        <p class="col-lg-12 col-xs-12 card-descr no-padding" th:text="${item.description}"></p>
                                        <div class="col-lg-6 col-xs-12 checkbox checkbox-info">
                                            <input th:id="'item-offer-' + ${item.id}" class="styled" type="checkbox" name="itemsOffer" th:value="${item.id}"/>
                                            <label th:for="'item-offer-' + ${item.id}">
                                                Seleccionar
                                            </label>
                                        </div>
                                        <div class="col-lg-6 col-xs-12 padding-top-5 ver-mas-label"><a target="_blank" th:href="@{'/items/' + ${item.id}}"><i class="fa fa-info-circle"></i>Ver más</a></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xs-6 card-photo">
                                    <div class="col-lg-12 col-xs-12">
                                        <div class="col-lg-12 col-xs-12 no-padding"><div class="col-lg-12 no-padding"><img width="100%" th:src="${item.photo1}"/></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    </div>
                </div>
            </div>
    </section>
</div>
        <div class="col-md-6 col-xs-12 derecha-panel" >
            <section class="panel panel-with-borders">
                <div class="panel-heading" >
                    <!-- <button type="button" class="btn btn-icon btn-primary btn-lg margin-right-15"><i class="icmn-forward margin-right-5"></i>Enviar</button> -->
                    <h2>Items de <span th:text="${demandant.name}"></span></h2>
                </div>
                <div class="panel-body scroll-items">
                    <div class="cui-ecommerce--catalog panel-trueque-complete">
                        <div class="row">
                            <th:block th:each="item : ${itemsUserDemand}">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding-for-cellphones">
                                    <div class="card cui-ecommerce--catalog--item">
                                        <div class="col-lg-6 col-xs-6">
                                        <div class="col-lg-12 col-xs-12 no-padding">
                                            <span class="col-lg-12 col-xs-12 card-title " th:text="${item.name}"></span>
                                            <p class="col-lg-12 col-xs-12 card-descr no-padding" th:text="${item.description}"></p>
                                            <div class="col-lg-6 col-xs-12 checkbox checkbox-info">
                                                <input th:id="'item-demand-' + ${item.id}" class="styled" th:checked="${item.id} == ${idItemDemandant}" type="checkbox" name="itemsDemand" th:value="${item.id}"/>
                                                <label th:for="'item-demand-' + ${item.id}">
                                                    Seleccionar
                                                </label>
                                            </div>
                                            <div class="col-lg-6 col-xs-12 padding-top-5 ver-mas-label"><a target="_blank" th:href="@{'/items/' + ${item.id}}"><i class="fa fa-info-circle"></i>Ver más</a></div>
                                        </div>
                                        </div>
                                        <div class="col-lg-6 col-xs-6 card-photo">
                                        <div class="col-lg-12 col-xs-12">
                                            <div class="col-lg-12 col-xs-12 no-padding"><div class="col-lg-12 col-xs-12 no-padding"><img width="100%" th:src="${item.photo1}"/></div></div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="panel-footer">
            <button id="send-trueque" type="button" class="col-lg-offset-4 col-lg-4 col-xs-7 col-xs-offset-4 margin-top-50 margin-bottom-50 btn btn-icon btn-primary btn-lg margin-right-15"><i class="icmn-forward margin-right-5"></i>Enviar Oferta</button>
        </div>
    </div>
    </form>
    </section>
<script>

    $(document).ready(function(){
        $('#send-trueque').on('click', function(){
            let itemsOfferChecked = $("input[name='itemsOffer']:checked").length;
            let itemsDemandChecked = $("input[name='itemsDemand']:checked").length;

            if(itemsOfferChecked === 0 || itemsDemandChecked === 0){
                swal('Oops...', 'Debes seleccionar al menos un item de cada grupo', 'error');
            }else{
                $('#form-trueque').submit();
            }
        });
    });

    $(function () {

        // Heart toggle
        $('.cui-ecommerce--catalog--item--like').on('click', function(){
            $(this).toggleClass('cui-ecommerce--catalog--item--like__selected')
        });

        // Tooltip
        $("[data-toggle=tooltip]").tooltip();

    });

</script>
</th:block>
</html>