<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/dropify/dist/css/dropify.min.css}"/>
    <link th:href="@{/vendors/magicsuggest/magicsuggest-min.css}"
          href="../static/vendors/magicsuggest/magicsuggest-min.css" rel="stylesheet"/>
    <script th:src="@{/vendors/dropify/dist/js/dropify.min.js}"
            src="../assets/vendors/dropify/dist/js/dropify.min.js"></script>
    <script th:src="@{/vendors/magicsuggest/magicsuggest-min.js}"
            src="../static/vendors/magicsuggest/magicsuggest-min.js"></script>
    <script th:src="@{/common/js/custom/magicSuggest.js}" src="../static/common/js/custom/magicSuggest.js"></script>
    <!--VALIDATION SCRIPTS-->
    <script th:src="@{/common/js/custom/formValidator.js}" src="../static/common/js/custom/formValidator.js"></script>

</head>
<th:block layout:fragment="content">
    <section class="page-content">
        <div class="page-content-inner">
            <form id="updateProfile-form" th:action="@{/profile/edit}" th:object="${user}" th:method="PUT"
                  enctype="multipart/form-data">
                <section class="panel panel-profile panel-with-borders col-md-6">
                    <div class="page-content-inner">
                        <div class="panel-body">
                            <div class="form-group">
                                <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                                <input type="hidden" th:field="*{password}"/>
                                <input type="hidden" th:field="*{photo1}"/>
                                <input type="hidden" th:field="*{itemsAmount}"/>
                                <input type="hidden" th:field="*{status}"/>
                                <input type="hidden" th:field="*{score}"/>
                                <input type="hidden" th:field="*{id}"/>
                            </div>
                            <h5>Información Personal</h5>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="name">Nombre</label>
                                        <input type="text" class="form-control" id="name" th:field="*{name}"/>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="lastName">Apellido</label>
                                        <input type="text" class="form-control" id="lastName" th:field="*{last_name}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="email">Email</label>
                                        <input type="email" readonly="true" class="form-control" id="email"
                                               th:field="*{email}"/>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="username">Nombre de Usuario</label>
                                        <input type="text" readonly="true" class="form-control" id="username"
                                               th:field="*{username}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="nuevoPass" class="form-group col-lg-6">
                                    <label class="form-control-label" for="nuevoPass">Nueva contraseña</label>
                                    <input name="newPassword"
                                           id="pass1"
                                           class="form-control password"
                                           type="password"
                                           onkeyup="checkPass(); return false;"/>
                                </div>
                                <div id="div-pass2" class="form-group form-input-icon form-input-icon-right col-lg-6">
                                    <label class="form-control-label" for="div-pass2">&emsp;Confirma la nueva
                                        contraseña</label>
                                    <div class="col-lg-10">
                                        <input id="pass2"
                                               type="password"
                                               class="form-control"
                                               onkeyup="checkPass(); return false;"/>
                                    </div>
                                    <div class="col-lg-2">
                                        <i id="cross" class="icmn-cross" style="color: #ffffff; font-size: 2em;"></i>
                                        <i id="check" class="icmn-checkmark"
                                           style="color: #ffffff;  font-size: 2em;"></i>
                                    </div>
                                </div>
                                <!--form-input-icon form-input-icon-righ-->
                            </div>
                            <h5></h5>
                            <h5>Tags</h5>
                            <div class="form-group">

                                <label for="ms" class="form-control-label">Escribe aquí tus nuevos intereses
                                    personales</label>
                                <input id="ms" type="text" class="form-control tagsinput"/>


                            </div>
                            <div class="form-actions">
                                <div class="form-group">
                                    <button id="submit-btn" type="button" class="btn btn-primary">Guardar</button>
                                    <button type="button" class="btn btn-default" onclick="history.back()">Atras
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a  href="/profile/delete-account"><i class="icmn-circle-right"></i>
                        Haz click aquí si deseas eliminar tu cuenta
                    </a>

                </section>
                <section class="panel panel-profile panel-with-borders col-md-6">
                    <div class="page-content-inner">
                        <div class="panel-body">
                            <h5>Foto de perfil</h5>
                            <div class="form-group">
                                <input id="photo1" type="file" class="dropify" name="picture" accept="image/*"
                                       data-max-file-size="2M"/>
                            </div>
                        </div>
                    </div>

                </section>
            </form>
        </div>
    </section>


    <!--MESSAGES MODAL-->
    <div class="modal fade" id="messageModal" data-color="red" tabindex="-1" role="dialog" aria-labelledby=""
         aria-hidden="true"
         style="display: none; overflow-y: scroll;">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: #ced5d8">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Aviso</h4>
                </div>
                <div class="modal-body">
                    <span id="messageSpan"></span>
                </div>
                <div class="row modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!--END MESSAGES MODAL-->


    <!--FORM VALIDATION-->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $('#submit-btn').on("click", function () {
                if (isValidated("updateProfile-form")) {
                    $('#updateProfile-form').submit();
                } //isValidated maneja las excepciones
            })
        });
    </script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        //  DROPIFY  //
        $(function () {
            $('.dropify').dropify();
        });

        //  MAGIC SUGGEST //
        var tags = [[${tags}]];
        var ms;

        document.addEventListener("DOMContentLoaded", function () {
            ms.initializeWithTags(tags);
            $("#submit-btn").on("click", function () {
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/profile/userTags",
                    data: JSON.stringify(ms.getSelection()),
                    dataType: 'text',
                    cache: false,
                    timeout: 600000,
//                    beforeSend: function (xhr) {
//                        xhr.setRequestHeader(header, token);
//                    },
                    success: function () {
                        console.log("New tags posted succesfully!");
                    },
                    error: function (e) {
                        console.log("ERROR Posting tags ajax: ", JSON.stringify(e));
                    }
                });
            });
        });


        /*]]>*/
    </script>

</th:block>
</html>


















