<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>

    <!--<script th:src="@{/vendors/jQuery-Tags-Input/jquery.tagsinput.min.js}"-->
            <!--src="../static/vendors/jQuery-Tags-Input/jquery.tagsinput.min.js"></script>-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/vendors/jQuery-Tags-Input/jquery.tagsinput.min.css}"-->
          <!--href="../static/vendors/jQuery-Tags-Input/jquery.tagsinput.min.css" />-->

</head>
<th:block layout:fragment="content">
    <section class="page-content">
        <div class="page-content-inner">
            <section class="panel panel-with-borders col-md-6">
                <div class="page-content-inner">
                    <div class="panel-body">
                        <form th:action="@{'/users/' + ${user.username}}" th:object="${user}" th:method="PUT"
                              enctype="multipart/form-data">

                            <div class="form-group">
                                <input type="hidden" th:field="*{password}"/>
                                <input type="hidden" th:field="*{status}"/>
                                <input type="hidden" th:field="*{score}"/>
                                <input type="hidden" th:field="*{id}"/>
                            </div>
                            <h5>Información Personal</h5>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="l0">Nombre</label>
                                        <input type="text" class="form-control" id="l0" th:field="*{name}"/>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="21">Apellido</label>
                                        <input type="text" class="form-control" id="21" th:field="*{last_name}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="23">Email</label>
                                        <input type="email" readonly="true" class="form-control" id="23"
                                               th:field="*{email}"/>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="22">Nombre de Usuario</label>
                                        <input type="text" readonly="true" class="form-control" id="22"
                                               th:field="*{username}"/>
                                    </div>
                                </div>
                            </div>
                            <h5></h5>
                            <h5>Intereses personales</h5>
                            <div class="form-group">

                                <label for="tags" class="form-control-label">Escribe aquí tus nuevos intereses personales</label>
                                            <input  name="tags" id="tags" type="text"  class="form-control" />

                                <label for="savedInterests" class="form-control-label">Intereses personales guardados</label>
                                             <textarea id="savedInterests" readonly="true" class="form-control" rows="4"></textarea>

                            </div>
                            <div class="form-actions">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Aceptar</button>
                                    <button type="button" class="btn btn-default" onclick="history.back()">Atras
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <section class="panel panel-with-borders col-md-6">
                <div class="page-content-inner">
                    <div class="panel-body">
                        <h5>Foto de perfil</h5>
                        <img th:src="@{user.photo1}"/>
                        <label for="photo1">Selecciona la foto deseada</label>
                        <input type="file" id="photo1"/>
                        <h5></h5>
                        <h5>Wallpaper</h5>
                        <img th:src="@{user.wallpaper}"/>
                        <label for="wallpaper">Selecciona tu wallpaper</label>
                        <input type="file" id="wallpaper"/>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <script type="text/javascript">

        $('#tags').tagsInput({
            autocomplete_url:'localhost:8080/profile/edit/tags'
        });


    </script>

</th:block>
</html>


















