<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>
    <link rel="stylesheet" type="text/css" href="../static/common/css/source/custom/profile.css" th:href="@{/common/css/source/custom/profile.css}"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <div sec:authorize="isAuthenticated()">
        <script src="../assets/common/js/custom/socket.js" th:src="@{/common/js/custom/socket.js}"></script>
    </div>
</head>

<th:block layout:fragment="content">
<section class="page-content">
<div class="page-content-inner">

    <!-- Profile Header -->
    <nav class="top-submenu top-submenu-with-background">
        <div class="profile-header">
            <div class="profile-header-info">
                <div class="row">
                    <div class="col-xl-8 col-xl-offset-4">
                        <div class="width-100 text-center pull-right hidden-md-down">
                            <h2 th:text="${user.itemsAmount}">17</h2>
                            <p>Items</p>
                        </div>
                        <div class="profile-header-title">

                            <h2 th:text="${'¡Hola, soy ' + user.name + '!'}">Nombre</h2>

                                    <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id != user.id}">
                                        <a data-toggle="modal" data-target="#modal-complaint">
                                            <i class="icmn-compass" aria-hidden="true"/> Denunciar a este usuario
                                        </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Profile Header -->

    <!-- Profile -->
    <div class="row">
        <div class="col-xl-4">
            <section class="panel profile-user background-img">
                <div class="panel-body">
                    <div class="profile-user-title text-center">
                        <a class="avatar" href="javascript:void(0);">
                            <img th:src="${user.photo1}"/>
                        </a>
                        <div class="cui-ecommerce--product--rating stars">
                            <!--Las estrellas se ponen por javascript-->
                        </div>
                        <br/>
                    </div>
                </div>
            </section>
            <section class="panel panel-profile">
                <div class="panel-body">
                    <h6>Information</h6>
                    <dl class="dl-horizontal user-profile-dl">
                        <dt>Nombre Completo</dt>
                        <dd th:text="${user.name + ' ' + user.last_name}">Nombre</dd>
                        <div th:if="${hasTags}">
                            <dt>Intereses</dt>
                            <dd><span th:each="tag : ${tags}" class="label label-default tag-margin" th:text="${tag.name}">Tag</span></dd>
                        </div>
                    </dl>
                </div>
            </section>
            <section class="panel panel-profile">
                <div class="panel-body">
                    <div th:if="${hasItems}">
                        <div class="cui-ecommerce--catalog--item" th:each="item : ${items}">
                            <img class="cui-ecommerce--catalog--item--img" th:src="${item.photo1}"/>
                            <div class="cui-ecommerce-catalog--item--infobox animated row hidden">
                                <div class="row col-lg-7 col-md-7 col-sm-7">
                                    <div class="cui-ecommerce--catalog--item--title col-lg-12 col-md-12 col-sm-12">
                                        <p th:text="${item.name}"></p>
                                    </div>
                                    <div class="cui-ecommerce--catalog--item--descr col-lg-12 col-md-12 col-sm-12">
                                        <P th:text="${item.category.name}"></P>
                                    </div>
                                </div>
                                <div class="cui-ecommerce--catalog--item--turequeyaicon col-lg-5 col-md-5 col-sm-5">
                                    <a th:href="@{'/items/' + ${item.id}}" class="btn margin-inline btn-warning ">Trueque ya <i class="fa fa-check-circle" aria-hidden="true"></i></a>
                                </div>


                            </div>
                        </div>
                        <div th:if="${user.itemsAmount > #lists.size(items)}" th:with="result=${user.itemsAmount - #lists.size(items)}">
                            <a th:href="@{/items(search=${'@'+user.username})}" class="btn btn-default width-full" th:text="${'Ver Más (' + result + ')'}">Ver Más</a>
                        </div>
                    </div>
                    <div th:if="${!hasItems}">
                        <p th:text="${'Parece que ' + user.name + ' no tiene artículos para intercambiar por el momento'}"></p>
                        <a href="/items">Buscar otros</a>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-xl-8">
            <section class="panel panel-profile">
                <div class="panel-body panel-margin">
                        <div class="tab-content padding-vertical-20">
                            <div class="tab-pane active" id="posts" role="tabpanel">
                                <h5>Comentarios</h5>
                                <hr/>
                                <div th:if="${hasComments}">
                                    <div class="user-wall">
                                        <div class="user-wall-item clearfix" th:each="comment : ${comments}">
                                            <div class="s1">
                                                <a class="avatar" href="javascript:void(0);">
                                                    <img th:src="${comment.userOrigin.photo1}" />
                                                </a>
                                            </div>
                                            <div class="s2">
                                                <div class="user-wall-item-head">
                                                    <div class="pull-right">
                                                        <a href=""><i class="icmn-compass"></i></a>
                                                    </div>
                                                    <strong th:text="${comment.userOrigin.name}">Name</strong>
                                                    <small th:text="${#dates.format(comment.date, 'dd-MM-yyyy HH:mm')}"></small>
                                                </div>
                                                <div class="user-wall-post">
                                                    <p th:text="${comment.description}">Comentario</p>
                                                </div>
                                                <div class="user-wall-controls">
                                                    <div class="cui-ecommerce--product--rating">
                                                        <i class="icmn-star-full" th:each="i : ${#numbers.sequence( 1, comment.score)}"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript: void(0);" class="btn btn-default width-full">Ver Más</a>
                                    </div>
                                </div>
                                <div th:if="${!hasComments}">
                                    <p th:text="${'Parece que no hay comentarios sobre ' + user.name + ' por el momento'}"></p>
                                </div>
                            </div>
                        </div>
                </div>
            </section>
        </div>
    </div>
    <!-- End Profile -->

    <!-- MODAL COMPLAINT -->
    <div class="modal fade"  id="modal-complaint" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <form id="frm-complaint">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Denunciar</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="complaint-type">Tipo de Denuncia</label>
                                    <select id="complaint-type" class="form-control input-field" data-error=".errorTxt1">
                                        <option value="-1"> Seleccione tipo de denuncia</option>
                                        <option th:each="complaintType : ${complaintTypes}"
                                                th:value="${complaintType.id}" th:text="${complaintType.name}">                                                                </option>
                                    </select>
                                    <div class="errorTxt1"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label class="control-label">Motivo</label>
                                    <textarea id="description" class="form-control input-field" placeholder="Mensaje *" data-error=".errorTxt2"></textarea>
                                    <div class="errorTxt2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Cerrar</button>
                        <button id="btn-complaint" type="button" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    <!-- END MODAL COMPLAINT -->
<!-- Page Scripts -->
    <script th:src="@{/common/js/custom/itemsCatalog.js}" src="../static/common/js/custom/itemsCatalog.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var token = [[${_csrf.token}]];
        var header = [[${_csrf.headerName}]];
        var score = [[${user.score}]]/2;
        var username = [[${user.username}]];
        var i;
        for(i = 0; i < score; i++){
            $('.stars').append('<i class="icmn-star-full"></i>');
        }
        for(i; i < 5; i++){
            $('.stars').append('<i class="icmn-star-empty"></i>');
        }

        var getComplaint = function(){
            let complaint = {
                complaintType: {
                    id: $('#complaint-type').val()
                },
                description: $('#description').val()
            };
            return complaint;
        };

        $(document).ready(function () {
            $('#btn-complaint').on('click', function () {
                var l = Ladda.create(this);
                l.start();
                let complaint = getComplaint();
                $.ajax({
                    type: "POST",
                    url: "/users/complaints/" + username,
                    contentType : "application/json",
                    data: JSON.stringify(complaint),
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (data) {
                        l.stop();
                        $('#modal-complaint').modal('toggle');
                        swal("Denuncia enviada", "Nuestro equipo se encargará de aquí en adelante", "success");
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });
        });



        /*]]>*/
    </script>
<!-- End Page Scripts -->
</section>
<div class="main-backdrop"><!-- --></div>

    <div class="main-backdrop"><!-- --></div>
</th:block>
</html>