<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>

</head>
<th:block layout:fragment="content">
<section class="page-content">
    <div class="page-content-inner">

        <!-- Profile Header -->
        <nav class="top-submenu top-submenu-with-background">
            <div class="profile-header">
                <div class="profile-header-info">
                    <div class="row">
                        <div class="col-xl-8 col-xl-offset-4">
                            <div class="width-100 text-center pull-right hidden-md-down">
                                <h2>154</h2>
                                <p>Followers</p>
                            </div>
                            <div class="width-100 text-center pull-right hidden-md-down">
                                <h2>17</h2>
                                <p>Posts</p>
                            </div>
                            <div class="profile-header-title">
                                <h2 th:text="${user.username}"/>
                                <p>Founder / CEO</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Profile Header -->

        <!-- Profile -->
        <div class="row">
            <div class="col-xl-4">
                <section class="panel profile-user">
                    <div class="panel-body">
                        <div class="profile-user-title text-center">
                            <br/>

                            <span class="avatar" href="javascript:void(0);">
                        <img src="../assets/common/img/temp/avatars/1.jpg" th:src="${user.photo1}"
                             alt="Alternative text to the image"/>
                        </span>

                            <div class="container">

                                <h1>Bienvenido!</h1>
                                <h2 th:text="${user.name}"></h2>
                                <h2 th:text="${user.last_name}"></h2>

                            </div>
                            <div class="btn-group btn-group-justified" aria-label="" role="group">
                                <div class="btn-group">
                                    <button type="button" class="btn width-150 swal-btn-success">Follow</button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn width-150 swal-btn-success-2">Add to Friend
                                    </button>
                                </div>
                            </div>
                            <br/>
                            <p>Last activity: 13 May 2016 7:26PM</p>
                            <p>
                                <span class="donut donut-success"></span>
                                Online
                            </p>

                            <div class="ec-stars-wrapper">
                                <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                                <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                                <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                                <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                                <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                            </div>

                        </div>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <h6>Actions</h6>
                        <div class="btn-group-vertical btn-group-justified">

                            <button type="button" class="btn">
                                <a th:href="@{'/users/edit' + ${user.username}}" th:method="GET"
                                   class="btn-floating btn-large waves-effect waves-light red"><i
                                        class="material-icons">Editar</i></a>
                            </button>

                            <button type="button" class="btn">
                                <a th:href="@{'/users/chats/' + ${user.username}}" th:method="GET"
                                   class="btn-floating btn-large waves-effect waves-light red"><i
                                        class="material-icons">Mis Chats</i></a>
                            </button>

                    </div>
                </div>

                <div class="user-wall">
                    <div class="user-wall-posting">
                        <div class="margin-right-10">
                            <h2>Comentarios acerca de</h2>
                            <h2 align="center" th:text="${user.name}"></h2>
                        </div>
                    </div>
                    <div class="user-wall-item clearfix">
                        <th:block th:each="comentario:${comments}">
                            <div class="user-wall-comments">
                                <div class="user-wall-item clearfix">
                                    <div class="s1">
                                        <a class="avatar" href="javascript:void(0);">
                                            <img src="../assets/common/img/temp/avatars/5.jpg" th:src="${comentario.user_origin.photo1}"  alt="Alternative text to the image"/>
                                        </a>
                                    </div>
                                    <div class="s2">
                                        <div class="user-wall-item-head">
                                            <div class="dropdown pull-right">
                                                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <span>Action</span>
                                                    <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="" role="menu">
                                                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-pencil7"></i> Edit Post</a>
                                                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-bin3"></i> Delete Post</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon fa fa-recycle"></i> Mark as Spam</a>
                                                </ul>
                                            </div>
                                            <strong th:text="${comentario.user_origin.name}"></strong>
                                            <small th:text="${comentario.date}"></small>
                                        </div>
                                        <div class="user-wall-post">
                                            <P th:text="${comentario.comment}"></P>
                                        </div>

                                        <div th:if="${comentario.score==1}">
                                             <div class="ec-stars-wrapper">
                                                <a title="1 estrella">&#9733;</a>
                                             </div>
                                        </div>

                                        <div th:if="${comentario.score==2}">
                                            <div class="ec-stars-wrapper">
                                                <a title="2 estrellas">&#9733;</a>
                                                <a title="2 estrellas">&#9733;</a>
                                            </div>
                                        </div>

                                        <div th:if="${comentario.score==3}">
                                            <div class="ec-stars-wrapper">
                                                <a title="3 estrellas">&#9733;</a>
                                                <a title="3 estrellas">&#9733;</a>
                                                <a title="3 estrellas">&#9733;</a>
                                            </div>
                                        </div>
                                        <div th:if="${comentario.score==4}">
                                            <div class="ec-stars-wrapper">
                                                <a title="4 estrellas">&#9733;</a>
                                                <a title="4 estrellas">&#9733;</a>
                                                <a title="4 estrellas">&#9733;</a>
                                                <a title="4 estrellas">&#9733;</a>
                                            </div>
                                        </div>
                                        <div th:if="${comentario.score==5}">
                                            <div class="ec-stars-wrapper">
                                                <a title="5 estrellas">&#9733;</a>
                                                <a title="5 estrellas">&#9733;</a>
                                                <a title="5 estrellas">&#9733;</a>
                                                <a title="5 estrellas">&#9733;</a>
                                                <a title="5 estrellas">&#9733;</a>
                                            </div>
                                        </div>

                                    </div>
                            </div>

                            </div>

                        </th:block>

                    </div>


                    <div class="form-group padding-top-10 margin-bottom-0">
                        <textarea class="form-control adjustable-textarea" placeholder="Deje aqui su comentario" style="overflow: hidden; word-wrap: break-word; resize: none; height: 60px;"></textarea>
                        <button class="btn btn-primary width-200 margin-top-10">
                            <i class="fa fa-send margin-right-5"></i>
                            Comentar
                        </button>
                    </div>

                    </div>

            </section>

                <div class="widget widget-three">
                    <div class="example-calendar-block"></div>
                </div>
            </div>
            <div class="col-xl-8">


                <section class="panel panel-with-borders">
                    <div class="panel-heading row">
                        <div class="col-md-3">
                            <h2>
                                Tus Ítems
                            </h2>
                        </div>
                        <div class="col-md-2">
                            <a th:href="@{'/users/'+${user.username}+'/item'}" th:method="GET"
                               class="btn btn-primary btn-default"><i class="icmn-plus"> Nuevo ítem</i></a>
                        </div>
                    </div>


                    <div class="panel-body">
                        <div class="cui-ecommerce--catalog">
                            <div class="row">
                                <th:block th:each="item:${items}">
                                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                        <div class="cui-ecommerce--catalog--item">
                                            <div class="cui-ecommerce--catalog--item--img">
                                                <a th:href="@{'/items/' + ${item.id}}">
                                                    <img th:src="${item.photo1}"/>
                                                </a>
                                            </div>
                                            <div class="cui-ecommerce--catalog--item--title">
                                                <!--<a href="javascript: void(0);" th:text="${item.name}"></a>-->
                                                <a th:href="@{'/items/' + ${item.id}}" th:text="${item.name}"></a>
                                            </div>
                                            <div class="cui-ecommerce--catalog--item--descr">
                                                <P th:text="${item.category.name}"></P>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- End Profile -->

    </div>
    </section>

    <!-- Page Scripts -->
    <script>
        $(function () {

            ///////////////////////////////////////////////////////////
            // ADJUSTABLE TEXTAREA
            autosize($('.adjustable-textarea'));


            ///////////////////////////////////////////////////////////
            // SWAL ALERTS
            $('.swal-btn-success').click(function (e) {
                e.preventDefault();
                swal({
                    title: "Following",
                    text: "Now you are following Artour Scott",
                    type: "success",
                    confirmButtonClass: "btn-success",
                    confirmButtonText: "Ok"
                });
            });

            $('.swal-btn-success-2').click(function (e) {
                e.preventDefault();
                swal({
                    title: "Friends request",
                    text: "Friends request was succesfully sent to Artour Scott",
                    type: "success",
                    confirmButtonClass: "btn-success",
                    confirmButtonText: "Ok"
                });
            });

        });
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var user_username = [[${user.username}]];
        localStorage.setItem('ok_user_username', user_username);

        /*]]>*/
    </script>


</th:block>
</html>